[2018-06-07 15:31] augb opened #1 "Laying the foundation"
... based off of [python-language-server][1].

The goal is to only have the core functionality (language-agnostic) to implement the [LSP][2]. Ideally, other languages can base off of _pygls_ to implement their specific language server (e.g. XML, Python, etc.).

[1]: https://github.com/palantir/python-language-server
[2]: https://microsoft.github.io/language-server-protocol/

[2018-06-08 16:15] dgreisen opened #2 "pygls api"
How are people going to implement their own server on top of pygls?

are they going to create plugins similar to django?
are they going to extend an instance, similar to flask?
are they going to subclass?
some other way that I'm not thinking of?

I kinda like the flask api (the simple one, not all the complex blueprint stuff). I am just totally making this up :):
[code]

[2018-06-27 19:01] #1 closed, assigned to danixeee

[2018-06-27 21:39] augb opened #4 "Add to AppVeyor"
Related to openlawlibrary/open-law-codify-prototype#3.

[2018-07-14 17:11] danixeee opened #6 "Support multiple LSP features per one function"
Add possibility to register multiple LSP features per one function.

E.G.
@codify_server.feature(
    lsp.TEXT_DOCUMENT_DID_OPEN,
    lsp.TEXT_DOCUMENT_DID_CHANGE)
def text_doc_did_open(ls, textDocument=None, **_kwargs):
    validate_schema(ls, textDocument)

[2018-07-16 21:16] danixeee opened #9 "Deserialize arguments passed to LSP methods"
Arguments passed to pygls are instances of type dict. Goal is to deserialize those arguments, so the fields can be accessed with dot notation.

Example:
`textDocument['uri']` -> `textDocument.uri`

[2018-07-17 13:56] #6 closed, assigned to danixeee

[2018-07-21 14:23] danixeee opened #11 "pygls: Implement feature for sending notifications to client"
Implement sending notifications to client.

E.G. `codify_prototype.send_notification("customNotif", params={})`

[2018-07-23 13:56] #11 closed, assigned to danixeee

[2018-07-26 08:49] danixeee opened #13 "pygls: Keep track of global configuration changes"
Handle `workspace/didChangeConfiguration` LSP method and update global configuration

[2018-07-28 17:37] #13 closed, assigned to danixeee

[2018-08-08 19:27] #4 closed, assigned to augb

[2018-09-25 16:43] danixeee opened #17 "pygls: Implement asyncio server"
Goal is to change current server to asyncio server

[2018-10-31 14:16] #17 closed, assigned to danixeee

[2018-10-31 15:31] danixeee opened #20 "[pygls]: Write documentation"

[2018-10-31 15:45] #2 closed, assigned to augb, danixeee

[2018-10-31 15:47] #9 closed, assigned to danixeee

[2018-11-29 21:12] danixeee opened #24 "[pygls] Filter files by file extension support"
This will allow setting up file extensions that will be processed by pygls. Other files will be ignored.

[2018-12-13 16:48] #24 closed, assigned to danixeee

[2018-12-17 23:40] danixeee opened #27 "Unable to debug pygls example since vscode-python extension version 2018.9.2."
We are not able to start *json-extension* sample with the new python extension for VS Code. I have opened the [issue](https://github.com/Microsoft/vscode-python/issues/3735) to find the solution.

[2018-12-18 14:57] #27 closed, assigned to danixeee

[2018-12-21 15:27] #20 closed, assigned to danixeee

[2018-12-24 16:22] augb opened #35 "AppVeyor build failing on PR builds"

[2018-12-24 19:26] #35 closed, assigned to augb

[2018-12-27 16:31] augb opened #39 "v0.7.1"
_Target release: 12/28/2018_

- [x] add ls support for diagnostics (@danixeee)
- [x] correct advanced usage doc (@danixeee)
- [x] small fix in json example (@danixeee)
- [x] "pygls" -> _pygls_ almost everywhere (@danixeee)
- [x] update CHANGELOG (@danixeee)
- [x] tag/build release (@augb)
- [x] upload to PyPi (@augb)

[2018-12-28 17:35] #39 closed

[2019-01-29 16:44] danixeee opened #46 "Refactor LSP initialize method"
- [x] Refactor LSP _initialize_ method
- [x] _appveyor_ use python `3.5`
- [x]  _appveyor_ run flake8 and bandit checks
- [x] Fix python `3.5` compatibility
- [x] Add more tests

[2019-01-30 14:30] augb opened #48 "v0.7.3"
- [x] update versions (@danixeee)
- [x] update CHANGELOG (@danixeee)
- [x] tag/build release (@augb)
- [x] upload to PyPi (@augb)
- [x] post-mortem (@augb, @danixeee)

[2019-01-30 16:25] #46 closed

[2019-01-31 13:31] augb commented on #48
Webhook for [Read the Docs][1] has been set up. This should build the docs when notified from GitHub.

[1]: https://readthedocs.org/projects/pygls/

[2019-01-31 14:00] augb commented on #48
Post-mortem summary:

@danixeee and I felt like the release went smoothly overall. Should be a bit smoother with the docs integration with GitHub.

[2019-01-31 14:00] #48 closed

[2019-03-01 05:18] Maxattax97 opened #50 "Message: TypeError: 'NoneType' object is not iterable"
I'd like to use this to build an LSP for a small language called OpenSCAD, so I started investigating this project (excellent code and docs by the way!). I'm normally a Neovim user, but for sake of better understanding pygls, I installed VS code (in other words, might just be a configuration error) and ran the example JSON language server in debug mode. Unfortunately, I'm quickly met with this err

[2019-03-04 14:40] danixeee commented on #50
Hello @Maxattax97, I have cloned a fresh repo and tried to reproduce the error, but it is working fine on my end. I am using _pygls_ in another [project](https://github.com/textX/textX-LS) and I didn't notice the issue, as well.

Did you set the `python.pythonPath` in your `.vscode/settings.json`?

You can try to debug _pygls_, by setting a breakpoint [here](https://github.com/openlawlibrary/pygls

[2019-03-04 15:56] dgreisen commented on #50
If we are able to figure out what is happening, perhaps we can provide a better error message than `'NoneType' object is not iterable` to smooth onboarding new developers.

[2019-03-04 16:33] danixeee commented on #50
There are some predefined exceptions and all of them have following fields:

- code ( JSON RPC error codes from specification )
- message
- data ( should be a traceback )

[code]

but the `data` is displayed as `[object Object]` for some reason. I will see what I can do regarding that. There is also a log file which can be checked.

[2019-03-11 13:52] #50 closed

[2019-03-21 14:23] augb opened #52 "v0.7.4"
- [x] update _pygls_ dependencies (@danixeee)
- [x] update versions (@danixeee)
- [x] update CHANGELOG (@danixeee)
- [x] tag/build release (@danixeee )
- [x] upload to PyPi (@danixeee )
- [x] post-mortem (@augb, @danixeee)

[2019-03-21 16:11] #52 closed

[2019-03-22 10:30] danixeee opened #57 "Support multiple text document synchronization options"
Currently we support just incremental updates. The goal is to support all synchronization options specified by the [protocol](https://microsoft.github.io/language-server-protocol/specification):

[code]

[2019-03-22 10:37] danixeee opened #58 "Dynamically register/unregister client capability"
Add API (_sync_ and _async_) to _protocol_ and _server_ for dynamic (un)registration of client capabilities.

[2019-03-22 10:44] danixeee opened #59 "Server capabilities should depend on client capabilities."
The goal is to refactor current implementation of how server capabilities are calculated.
Client capabilities (InitializeRequest) should be considered when creating server capabilities.

https://github.com/openlawlibrary/pygls/blob/master/pygls/types.py#L879

[2019-03-22 10:59] danixeee opened #60 "Add multiple clients for _json-extension_ example"
Adding clients other than VS Code, which uses the same _jso-extension server_ will allow us to test _pygls_ for different editors and catch possible bugs like [here](https://github.com/openlawlibrary/pygls/pull/56).

[2019-04-16 08:36] danixeee opened #63 "Response object should contain result OR error field"
**Current behavior:**

Both _result_ and _error_ fields are serialized and returned as part of response object to the client.

**Expected behavior:**

From json RPC [specification](https://www.jsonrpc.org/specification):

[code]

[2019-04-16 15:16] OliverSchmitt opened #66 "Completion: Filtering the suggestions does not work when using the CompletionItem.textEdit property and setting the CompletionList.isInComplete to True"
The Problem is that filtering the suggestions in the drop down menu of the client does not work if the `CompletionList.isInComplete` property is set to `True` and the `CompletionItem.textEdit` of an element of the `CompletionList` is set.

The simplest example for the problem is a small extension to the exmaple server provided in the GitHub repository. It just adds a simple completion feature:

[c

[2019-04-16 16:02] danixeee commented on #66
Hello @OliverSchmitt,

from LSP specs:

[code]

both `line` and `character` fields are _zero-based_.

Your code works if cursor is not at Position(0,0), so I believe you just need to change the line where you set a start position to:

[code]

Hope this helps and hope you like _pygls_!

[2019-04-17 08:31] OliverSchmitt commented on #66
Hello @danixeee
this fiixed the problem, thank you for your help.
Apparently I made a mistake in the verification of the `text_edit`. When I first tried it i used `Range(params.pos, params.pos)` but you actually need a new position instance to make it work.

[2019-04-17 08:32] #66 closed

[2019-05-02 16:49] #63 closed

[2019-05-03 01:22] #57 closed

[2019-05-08 11:12] danixeee opened #68 "Update language server protocol to v3.14.0"
Update [features.py](https://github.com/openlawlibrary/pygls/blob/master/pygls/features.py) and [types.py](https://github.com/openlawlibrary/pygls/blob/master/pygls/types.py) to support the [current LSP specification](https://microsoft.github.io/language-server-protocol/specification#version_3_14_0).

[2019-05-09 14:54] #58 closed

[2019-05-09 14:54] #68 closed

[2019-05-09 15:16] danixeee opened #69 "v0.8.0"
- [x] update _pygls_ dependencies (@danixeee)
- [x] update versions (@danixeee)
- [x] update CHANGELOG (@danixeee)
- [x] tag/build release (@danixeee )
- [x] upload to PyPi (@danixeee )
- [x] post-mortem (@renatav , @danixeee)

[2019-05-14 15:13] #69 closed

[2019-06-06 05:15] dinvlad opened #71 "Provide a method to access client capabilities"
It appears that the current LanguageServer API does not provide a way to programmatically access client capabilities. It's important to properly detect when client doesn't support a certain feature, so as to not generate a request that will fail. For example, the client may not support `workspace/configuration`, and so `ls.get_configuration()` request fails, which then crashes the client (and we d

[2019-06-06 11:15] danixeee commented on #71
Hello @dinvlad,

There is already a similar issue https://github.com/openlawlibrary/pygls/issues/59.
I just pushed my branch with changes that you need, but there should be some more work since I added an option to (un)register capability which should change cached server capabilities. I won't merge it until I finish that work, but you can install _pygls_ directly from branch `danixeee/capabilitie

[2019-06-06 16:30] dinvlad commented on #71
Thanks @danixeee, I saw that issue but I’m not sure if it addresses this directly. Some server capabilities don’t mirror those from the client, like `workspace/configuration`. It would be nice to have a way to directly access `InitializeParams` (for other reasons as well, like to find `rootUri`), which seems like the only way to access the value of `workspace/configuration`.

[2019-06-06 16:39] dinvlad commented on #71
Apologies - just read the code in your branch. Seems like it’s what we need for client capabilities! It would still be nice to also have access to other initialization params, like `rootUri`.

[2019-06-07 07:46] danixeee commented on #71
@dinvlad `rootUri` can be accessed from the `Workspace`. Take a look [here](https://github.com/openlawlibrary/pygls/blob/master/pygls/workspace.py#L218).

There is another way, which I recommend if you want to use the latest _pygls_ from PyPI.
Every _user-registered_ language feature (registered with `@server.feature(...)`) is called after _built-in_ language feature. For e.g., when initialization

[2019-06-08 01:39] dinvlad commented on #71
Awesome, understood. I thought the params here are the ones passed in the response, not the request. Closing this issue in anticipation for #59.

Thank you!

[2019-06-08 01:39] #71 closed

[2019-06-09 01:20] dgreisen opened #72 "examlpe readme says to follow instructions that don't exist"
https://github.com/openlawlibrary/pygls/blob/master/examples/json-extension/README.md#install-server-dependencies says to "Install pygls following this README" but the README at https://github.com/openlawlibrary/pygls/blob/master/README.md does not have installation instructions.

[2019-07-01 08:47] TiemenSch opened #74 "Standalone publishable extension"
I'm currently experimenting with pygls (great so far!) and while things look promising, I'm struggling with setting up a process which results in a single installable VSCode extension.

Right at this moment, I'm trying to compile the server script with [Nuitka](https://nuitka.net/), which results in a single executable instead of having to point to an external Python distribution with pygls instal

[2019-07-02 05:11] OliverSchmitt opened #75 "Using text_edit in a completion response breaks sort_text"
I tried to reproduce my problem with a simple example and modified the json-example from the repository in the following way:

[code]

One would expect the *sort_text* property to overwrite the alphabetical order in which the completion items are shown. This is the case if the *insert_text* and *text_edit* are left commented out or just the *insert_text* property is used. If a completion is then t

[2019-07-02 11:36] danixeee commented on #75
I have never tried that. It might be helpful to modify [this example](https://github.com/microsoft/vscode-extension-samples/tree/master/completions-sample) and let us know if it works with their language server SDK.

[2019-07-02 11:47] danixeee commented on #74
I haven't worked with _Nuitka_, but I tried `PyInstaller` for creating a single executable, although not with _pygls_. Anyway, you would need to include executables for _all_ targeting platforms while packaging the extension which can result in big extension size.
I am working on [this extension](https://github.com/textX/textX-LS) for a python tool, and first time extension gets activated, it crea

[2019-07-02 12:20] OliverSchmitt commented on #75
I tried it with the completions sample and the following code in *src/extension.js*:
[code]
Testing the different cases I got the same results as with the pygls implementation. Nevertheless, the LSP specification does not mention any special behavior when using *text_edit* and *sort_text* and in my opinion using them simultaneously should not cause any problems.

It would still be helpful to see t

[2019-07-02 15:44] danixeee commented on #75
Thank you for trying that out.

I agree with this. It would be the best to ask on SO, or on LSP [github](https://github.com/Microsoft/vscode-languageserver-node) page.

There is a setting `editor.snippetSuggestions` which you can set when using snippet suggestions, but I am not sure if that solves your issue.

I will close this issue, since this is not a _pygls_ bug, but feel free to comment on th

[2019-07-02 15:44] #75 closed

[2019-08-15 14:57] TiemenSch commented on #74
So if we assume an executable with the name ``json_server`` were to be found on path, which then starts the language server just like https://github.com/openlawlibrary/pygls/blob/master/examples/json-extension/server/__main__.py
does, how would I have to change the extension?

[2019-08-15 15:16] TiemenSch commented on #74
I guess I'm just having trouble in flattening the ``client`` and ``server`` structure into a "single package.json" setup package.

[2019-08-15 19:16] TiemenSch commented on #74
The good news is that everything works when I replace
[code]
with my self-built executable:
[code]
everything "just" works.

Any ideas? I'll keep learning about the VS Code extension structure in the meantime.

[2019-08-16 11:40] TiemenSch commented on #74
I took the liberty of creating a PR. I would appreciate any feedback! With some adjustment, this could make a useful template for an LSP extension where the LSP is provided as an executable instead of Node/Python/whatever.

[2019-08-16 12:05] danixeee commented on #74
Hello @TiemenSch, sorry for not responding immediately, I am currently busy with other projects. Thank you for the PR, I will find some time to review your work at the begging of the next week. I hope it's working for you now and you are not blocked.

[2019-08-16 13:42] TiemenSch commented on #74
Sure! I would be particularly interested to see how we could incorporate "hot reloading" of the TCP server while the extension remains active, as that would make debugging of LSPs an absolute breeze!

Essentially, you could run the Python script directly from your dev environment, and only use the compiled executable (which should be available on path or from settings) in production.

[2019-08-23 15:17] dinvlad opened #79 "DocumentSymbol implementation results in 'mappingproxy' object has no attribute '__dict__'"
Hi folks,

When I implement `@server.feature(DOCUMENT_SYMBOL)`, which returns a `List[DocumentSymbol]`, the server crashes with
[code]
What needs to be done to fix this error?

Thanks!

[2019-08-23 15:25] dinvlad commented on #79
Sorry, that was an unrelated error - I tried to set `name=type(node)` for `DocumentSymbol`. Instead, `name` must be a string, i.e. `name=type(node).__name__`.

[2019-08-23 15:25] #79 closed

[2019-08-29 18:09] danixeee opened #81 "LSP method-parameter mappings"
Initial discussion started in #78.

Currently, data received by the client is deserialized to `dict` object which is then converted to `namedtuple` object. Reason behind this is that we want to access fields with dot notation.
Some clients are not serializing/passing _null_ fields, which throws `AttributeError` when trying to access them in server methods.

Here are couple of ideas/solutions which

[2019-08-29 18:16] danixeee commented on #81
Another idea is is to override `__getattribute__` method of `namedtuple` instances, which will allow us to use dot notation for fields that are not passed. Then we can access those fields and get _None_ instead of _AttributeError_:

[code]

[2019-09-03 14:04] pappasam commented on #81
@danixeee thanks for kicking this off!

My 2-cents: if we rely on less Python magic, this Language Server will serve as excellent documentation for the LSP itself, which will likely increase the number of Python-language LSP implementations that are created using pygls. Therefore, I'm a big fan of explicitly mapping map pre-defined Python typed NamedTuples to the expected messages from the client.

[2019-09-05 12:13] danixeee commented on #81
@pappasam I partially agree with you. I've added type annotations to most of the parameters so we know which objects are expect in each _LSP_ method and to have better IDE support while developing. I think we won't benefit much with explicit type mappings, without runtime type checking.

I am happy to discuss this further and figure out the appropriate solution.

[2019-09-05 12:14] danixeee opened #82 "v0.8.1"
- [x] update _pygls_ dependencies (@danixeee)
- [x] update versions (@danixeee)
- [x] update CHANGELOG (@danixeee)
- [x] tag/build release (@danixeee )
- [x] upload to PyPi (@danixeee )
- [x] post-mortem (@renatav , @danixeee)

[2019-09-11 04:04] pappasam commented on #81
@danixeee There is a performance argument, and a readability argument, in favor of explicit mappings type mappings. I also think I've found a way to do it elegantly, without needing any 3rd party dependencies, and without doing any runtime validation. All we'll do is painlessly associate an LSP method name, as we expect to receive from the client, to each of our classes. At the time of this associ

[2019-09-11 04:34] pappasam commented on #81
@danixeee your perspective makes sense! I think runtime type checking is definitely something that has its pros and cons.

That said, I think runtime type checking, upon receipt of JSON, is definitely something the language server core should do. There are many client / server combinations, and unless we see strong performance arguments to the contrary, I doubt runtime type checking will add much

[2019-09-11 05:38] #82 closed

[2019-09-11 18:24] pappasam commented on #81
Another option, that uses pydantic instead of undictify (still Python 3.6+). It's slightly less verbose:

[code]

[2019-09-11 18:38] pappasam commented on #81
An alternative library is pydantic. It's a bit cludgy, but it's good to know about if we need to do benchmarking: https://github.com/samuelcolvin/pydantic

[2019-09-22 16:53] bollwyvl opened #84 "Wrapping existing language server(s) in websockets, virtual file systems"
Some semi-related questions:
Are there any examples or documentation of wrapping/extending pygls to:
1. ... serve LSP over websockets?
2. ... to wrap existing LS implementations?
3. ... use non-traditional filesystems and formats?

**Background**

We've been looking at bringing [LSP to the Jupyter ecosystem](https://github.com/jupyter/enhancement-proposals/pull/26) for a while now. While the [exec

[2019-09-24 10:15] danixeee commented on #84
Hello @bollwyvl,

Currently _pygls_ is designed to work with a single client on a host machine. We are using our extension based on _pygls_ with VS Code client and each instance of it runs its own LS process.

1. Although I haven't worked with python [websockets](https://websockets.readthedocs.io/en/stable/intro.html), I quickly took a look at the library and I am pretty sure that adding support f

[2019-09-24 12:11] bollwyvl commented on #84
Thanks for the response!

Currently *pygls* is designed to work with a single client on a host

Right, and this setup is also the primary (or at least initial) use case
for working with LSP in jupyter. We also support running the client, the
server, and even the user's personal execution environment (the kernel) on
different computers.

Probably the best way to see what I'm talking about is to ope

[2019-09-30 03:27] bollwyvl commented on #84
@danixeee i've figured out a lot of my problems over on https://github.com/krassowski/jupyterlab-lsp/pull/46, thanks for the thoughts for getting there!

Basically, `python-jsonrpc-server` provides enough of the plumbing to handle the language `stdio` multiplexing, and their examples already had the stuff i needed to get it working over websockets. I still haven't dug into how to do my fancy virtu

[2019-09-30 03:27] #84 closed

[2019-09-30 16:01] danixeee opened #85 "Implement web-socket server"
Currently _pygls_ supports two types of connections:

- TCP/IP
- IO (stdin/stdout)

We want to add another type of connection - _web-sockets_.

[2019-09-30 16:06] danixeee commented on #84
@danixeee Good to hear that!

I have created the [issue](https://github.com/openlawlibrary/pygls/issues/85) to implement _web-sockets_ for _pygls_.

If you decide to try out the _pygls_ for any of your future language servers, I would be open to help in any way, thank you!

[2019-09-30 21:14] bollwyvl commented on #85
Sounds cool!

The websocket approach is not precisely standardized: as i mentioned, the convention for how many URLs should be exposed appears to be _n_, one per language server. Having _1_, and doing the negotiation at the message level, sounds really good to me, but there might be deep parts of the protocol model that I don't yet understand!

[2019-11-21 19:48] otreblan opened #86 "Aur"
Btw I added this to the aur:
https://aur.archlinux.org/packages/python-pygls/

[2019-12-11 15:13] danixeee commented on #86
Closed via https://github.com/openlawlibrary/pygls/pull/87.

[2019-12-11 15:13] #86 closed

[2020-01-06 00:06] perrinjerome opened #88 "`feature` and `command` decorators loose type annotations"
If I use this patch on json-extension example:

[code]

I would expect that mypy report type error for wrong `"type error"` argument and reveal  type of `completion_list` as `CompletionList`, instead, I have:

[code]

I would have expected something like:
[code]

[2020-01-06 00:22] perrinjerome opened #93 "Better typing support"
I have been using pygls, it's excellent, but I would love that we could use more of python typing features:
 * [ ] Make pygls itself type-check:
    * [x] Fix type errors reported by type checkers (maybe target only mypy) ( https://github.com/openlawlibrary/pygls/pull/92 is a start, but more is needed here )
    * [x] Run type checkers as part of automated test suite
 * [x] Have a bit more "strict

[2020-01-06 17:33] danixeee commented on #93
@perrinjerome Thank you! I saw you made a few PRs, I will try to review them until the end of this week.

[2020-01-07 14:48] danixeee commented on #93
@perrinjerome, @pappasam and I have also discussed adding a [runtime type-checking](https://github.com/openlawlibrary/pygls/issues/81) to make _pygls_ more robust.
What are your thoughts on that?
It should be an optional feature with [extra dependency](https://setuptools.readthedocs.io/en/latest/setuptools.html#declaring-extras-optional-features-with-their-own-dependencies) (if we decide to use a

[2020-01-09 00:42] perrinjerome opened #95 "FailureHandlingKind.Undo is missing"
`FailureHandlingKind` is [specified](https://microsoft.github.io/language-server-protocol/specifications/specification-3-14/#initialize
) as

[code]

but pygls definition is:
https://github.com/openlawlibrary/pygls/blob/df8950dac6539e387817d3f310c18465d8997204/pygls/types.py#L572-L576

I'm thinking of a fix like:

[code]

Let's address this after https://github.com/openlawlibrary/pygls/pull/92 to

[2020-01-09 01:02] perrinjerome opened #96 "Run test suite on multiple python versions and also on linux"
https://github.com/openlawlibrary/pygls/blob/master/appveyor.yml only runs tests for python3.5 on windows.

It would be nice to run tests on other python versions, isn't it ?

I started a patch that would run tests on a matrix like this: https://ci.appveyor.com/project/perrinjerome/pygls/builds/29961016 . Patch is still very dirty, there's lots of duplication ( it's https://github.com/perrinjerome

[2020-01-13 16:56] bollwyvl commented on #93
Good ideas here!

I love me some pydantic, though another approach might be an typechecking/runtime checking implementation driven by a non-python spec.

Since the LSP is JSON-native, JSON Schema, despite its warts, would be a good target. But _where would we get the schema?_ A while ago, I made some concrete strides towards building a JSON Schema for LSP, derived from the markdown spec and the re

[2020-01-17 14:20] danixeee commented on #96
I agree. We could update `appveyor.yaml` to run _tox_ just on PRs. That way building regular commits will be faster, but on the other hand we will be sure that _pygls_ is tested across different python versions and platforms before any PR is merged. What are your thoughts?

[2020-01-17 14:21] danixeee commented on #95
Closed via #92.

[2020-01-17 14:21] #95 closed

[2020-01-26 23:37] perrinjerome commented on #96
Thank you for feedback.
I think the build is not so long, in total it takes less about 5 minutes, so it seems acceptable, isn't it ?
If I understand correctly, appveyor runs "jobs" sequentially under free plan and to run jobs in parrallel a pay plan is needed ( https://ci.appveyor.com/billing ).

There's one thing that I don't understand, are this `%OLL_GIT_USER_NAME%` and `% OLL_GIT_EMAIL%` used

[2020-01-27 10:22] #88 closed

[2020-01-27 10:49] danixeee commented on #96
It's fine then. I don't know about the plans, we will need to take a look.

I didn't write that file, but I think it's needed for this:

https://github.com/openlawlibrary/pygls/blob/ad1a1bad8c3f9821214699866ed10e2e1e8061e0/appveyor.yml#L23-L24

[2020-01-27 10:57] perrinjerome commented on #96
Thanks for feedback. I'm sorry I was not cleared, I mentioned the plans, because I have been investigating a bit why jobs were not running sequentially, I thought that maybe there was something wrong in the `appveryor.yml`.

[2020-01-27 11:11] danixeee commented on #96
If you already have a modified script you could push it and we can see. I am using _Azure_ for multi-platform jobs in one of my OS project, but I guess we will stick with _appveyor_ for _pygls_.

So, you suggested running a _tox_ on multiple platform with multiple python versions? I think that's fine.

[2020-01-27 11:39] danixeee commented on #93
@bollwyvl that is even a better idea! We should create a discussion issue and move these messages there.

[2020-01-27 23:30] perrinjerome commented on #95
This was not part of #92 . I just submitted https://github.com/openlawlibrary/pygls/pull/98 to fix this issue.

[2020-01-28 00:03] perrinjerome commented on #96
I pushed the current "work in progress" state in https://github.com/openlawlibrary/pygls/pull/100 let me know what you think.

[2020-01-28 01:12] bollwyvl commented on #93
Yeah, the reference implementation of the protocol doesn't make for light reading, but if there is Truth, it's coming from there, forget whatever it says in the spec. Will open issue!

[2020-01-28 02:05] bollwyvl opened #101 "Create new package for protocol-level concerns"
In a nutshell:

- complete the [derivation of a JSON Schema](https://gist.github.com/bollwyvl/7a128978b8ae89ab02bbd5b84d07a4b7) for the Language Server Protocol
- Use the schema to generate a new, standalone package, e.g. `language-server-protocol`
  - with good typing, e.g. dataclasses, typeddict or namedtuple
  - either
    - offer multiple versions of the library, e.g. `language-server-protocol

[2020-01-29 13:04] bollwyvl commented on #101
Discussed off-line: before starting we should resolve some plumbing:

I'm going to assume the latter means: "in-tree", e.g. another `src`. Having a long-running orphan branch is the fastest to start, but has most of the disadvantages of both.

A new repo is more work, and more things to watch. +1 internal.

Because there _isn't_ a machine-readable spec, it presently has to be guessed at from the s

[2020-02-12 10:53] #96 closed

[2020-02-19 11:32] #72 closed

[2020-04-03 05:32] perrinjerome commented on #93
I guess this can be closed now, this was originally about the static typing support.

There are still discussions using type information at runtime, but this is now discussed on https://github.com/openlawlibrary/pygls/issues/101 ( and maybe a bit on https://github.com/openlawlibrary/pygls/issues/81 ).

[2020-04-03 05:32] #93 closed

[2020-04-19 21:36] tomslee opened #108 "Failed to handle notification textDocument/didSave"
I'm trying to develop with pygls using vim and the vim-lsc Language Server Client plugin (https://github.com/natebosch/vim-lsc) as a client. I get this error in pygls:

ERROR  Failed to handle notification textDocument/didSave: Object....
Traceback (most recent call last):
 File.... protocol.py line 272, in _get_handler
   return self.fm.buildin_features[feature_name]
KeyError: 'textDocument/didSa

[2020-04-20 10:44] danixeee commented on #108
Hello @tomslee,

[Specification](https://microsoft.github.io/language-server-protocol/specifications/specification-current/#textDocument_didSave) says that client should send `textDocument/didSave` notification _only_ if server allowed this in its capabilities:

[code]

Unless `didSave` is registered with `@serever.feature(types.TEXT_DOCUMENT_DID_SAVE)` you should not send this notification. AFAIK

[2020-04-20 10:52] danixeee opened #109 "v0.9.0"
- [x] update _pygls_ dependencies (@danixeee)
- [x] update versions (@danixeee)
- [x] update CHANGELOG (@danixeee)
- [x] tag/build release (@danixeee )
- [x] upload to PyPi (@danixeee )

[2020-04-20 11:46] danixeee commented on #109
Released: https://pypi.org/project/pygls/0.9.0/.

[2020-04-20 11:46] #109 closed

[2020-04-22 02:39] pappasam opened #112 "How to support user-configured triggerCharacters / other initialization options?"
What is the best way to provide "user configuration" when developing a server using `pygls`? I'm currently developing https://github.com/pappasam/jedi-language-server and am having trouble with this.

As a simple example, I've provided the following trigger characters:

[code]

That said, it's possible some users would prefer to use only a "." as a trigger character. I'd like to give those users t

[2020-04-22 03:18] pappasam commented on #112
Figured it out. I've removed the options from the feature itself and added this initialization method. Feel free to close issue, or to keep it open if you want to add some documentation around this use case.

[code]

[2020-04-22 08:43] danixeee commented on #112
@pappasam I have modified json-example to include this use-case, take a look at [here](https://github.com/openlawlibrary/pygls/pull/113/files).

I couldn't find a way to unregister a feature that is registered during initialization, because I am not sure what is the "id" in that case. I suggest you to use `initializeD` method to register all features which options could be changed in the future, w

[2020-04-26 22:58] pappasam commented on #112
@danixeee using your example as a starting point, I implemented basic and (I believe) extendable user configuration rooted at the name `jedi`. I use a couple additional data structures and helper functions to make the example you provided above easier to repeat across other LSP methods in the future. See here: https://github.com/pappasam/jedi-language-server/blob/master/jedi_language_server/server

[2020-05-02 11:55] rwols opened #115 "workspace/didChangeConfiguration"
This notification is sent from editor to server upon startup.

vscode-json and vscode-eslint servers rely on this notification to be sent during startup, or they won't work.

So we notify the server regardless.

This framework throws an exception when encountering an unhandled notification. I think it should instead log a neutral message. Something like: "unhandled notification workspace/didChange

[2020-05-02 12:02] rwols commented on #115
Some logs (cc @pappasam):

[code]
Just a little later the server requests the settings itself, this works fine:
[code]

[2020-05-02 14:20] rwols commented on #115
My editor is SublimeText with the [LSP plugin](https://github.com/sublimelsp/LSP) by the way. I'm one of the maintainers.

It seems like there's a lot of confusion around workspace/didChangeConfiguration:

- vscode-eslint, vscode-json want this notification at startup, otherwise they won't do anything.
- Vetur (vue language server) does *not* want this notification, otherwise it'll crash.
- This f

[2020-05-02 15:06] rwols opened #116 "Make sure you handle UTF-16 character offsets"
One of the major downsides of pyls is that it craps out at UTF-16 offsets.

I just want to make sure that this library doesn't fail in the same way. Just to be clear, the LSP spec says:

Since python internally works with UTF-32 and indexes strings with UTF-32, you have to be very careful in translating LSP-ranges to pygls ranges. It is not as simple as converting a (row, col) to a character offse

[2020-05-02 15:16] rwols commented on #116
It looks like it's not accounted for here:

https://github.com/openlawlibrary/pygls/blob/2ed7159c878ccf86f01c228088d513aa7b5b99ac/pygls/workspace.py#L153-L155

It's a serious subtle issue!

[2020-05-03 06:27] muffinmad commented on #108
@danixeee

How server can allow `didSave` notification? Although `TextDocumentSyncOptions` is in the `pygls/types.py`, only `TextDocumentSyncKind` can be passed as `textDocumentSync` in server capabilities.

[2020-05-03 12:51] tomslee commented on #108
Thanks for the update. I have not seen other problems. I'll notify the owner of the vim-lsc plugin about sending unhandled notifications.

[2020-05-03 20:25] rwols opened #118 "Stop once the exit notification is received"
It's not always the case that this framework shuts down its process once the exit notification is received. In fact once the parent process (the editor) exits, it might get into a busy spin loop, eating up an entire core in my CPU.

I'm fixing killing subprocesses editor-side, but you might want to make sure your process exits anyway, for other editors.

[2020-05-03 20:26] rwols commented on #118
I'd suggest just calling `exit(0 if shutdown_received else 1)`.

[2020-05-04 13:02] danixeee commented on #115
Thanks for submitting, I'll take a look.

[2020-05-09 20:33] karthiknadig opened #122 "In SymbolKindAbstract value_set should be a list type based on the spec."
https://github.com/openlawlibrary/pygls/blob/144bbc0803d6802a4ec6b5c9e27658d7bead340d/pygls/types.py#L1119-L1121

This should probably be:
[code]

https://microsoft.github.io/language-server-protocol/specifications/specification-current/#workspace_symbol

[2020-05-13 11:27] muffinmad opened #124 "Don't send not specified properties"
E.g.

[code]

will result in sending all other attributes along with label:

[code]

[2020-05-14 09:37] #116 closed

[2020-05-14 10:35] rwols commented on #124
Important notions from the LSP spec:

- There can be an optional key with a valid value.
- There can be a mandatory key with an optional value.

[2020-05-14 11:17] rwols commented on #124
There's also a `"range": null` in the response to the textDocument/hover request. I'm guessing it's the same underlying issue.

This library needs to distinguish between **optional keys with typed values** and **mandatory keys**.

[2020-05-14 12:06] rwols commented on #124
I haven't tested this but this might work as serializer:

[code]

[2020-05-14 12:11] rwols commented on #124
You should also account for cases where a `None` response is allowed:

- textDocument/hover is allowed to respond with `None` if there's no hover.
- textDocument/signatureHelp is allowed to respond with `None` if there's no sighelp.
- ...

[2020-05-17 18:59] deathaxe commented on #81
Inspired by this discussion the following benchmark evolves to compare the current deserialization via `namedtuples` with the proposed alternatives `pydantic` and `undictify`.

The benchmark code is attached to this post and consists of simulating 100 simple `DidChangeTextDocumentParams` events. It contains type checking and creating python objects only. It does not take json deserialization into

[2020-05-20 19:23] rwols opened #126 "If the request handler throws an exception, respond with Error"
An endpoint request handler may throw an exception, e.g.

[code]

If something failed to handle a request, this library should return a `ResponseError` with error code `InternalError`, and hopefully some descriptive message. Right now, the stacktrace is dumped as a string, but that's not a valid response.

[2020-05-22 09:21] #122 closed

[2020-05-24 00:27] polarmutex opened #127 "TextDocumentSyncOptions not supported"
textDocumentSync option can be a number (which pygls uses) or be of the form  of TextDocumentSyncOptions.

I am working on a language server to interface with the native LSP client inside of neovim. The neovim client lsp implementation will not send didSave notifications unless "TextDocumentSyncOptions" is sent back. if a number is sent back only open, change, and close notifications are sent even

[2020-05-26 11:14] danixeee commented on #127
Hi @bryall, we will need to add new types to `types.py` module and to rework logic for building `ServerCapabilities` response to support `TextDocumentSyncOptions`. You can fork the project and make those changes to the pygls on your end, but the end goal is to find a better way of how we create `ServerCapabilities`.

[2020-05-28 17:46] rwols commented on #124
Another example where this breaks an editor is for textDocument/rename. We do a check here to see if we're dealing with new-style `documentChanges` or old-style `changes`:

[code]
However, the payload from this framework is

[code]
`changes` is in the returned params, so we will break in `if 'changes' in workspace_edit`. It's not allowed per spec to have `None` as value.

[2020-05-29 10:06] muffinmad commented on #124
@rwols Because both `'changes'` and `'documentChanges'` are processed, simple workaround may help, e.g.:

[code]

[2020-06-05 07:28] mattn opened #128 "context is optional in textDocument/completion"
Current implementation does not deal with omitted context.

https://github.com/openlawlibrary/pygls/blob/e56b4be1e59720d4084cf82840ce46e3a2306b83/pygls/types.py#L1249

[2020-06-05 07:30] mattn commented on #115
some issue on [vim-lsp](https://github.com/prabirshrestha/vim-lsp/) and [cmake-language-server](https://github.com/regen100/cmake-language-server) what use pygls.

[2020-07-23 11:56] rwols commented on #128
Related: https://github.com/openlawlibrary/pygls/issues/124

[2020-07-23 11:58] rwols opened #130 "This framework doesn't make sure that its process stops once a client crashes or abruptly stops in some way"
If an editor crashes, it can be the case that the subprocess lingers (becomes a zombie). This framework should ensure that it kills itself, and also any subprocesses it manages.

This is why the `processId` of the parent process (i.e. the editor) is sent along in the initialize request.

[2020-08-18 15:42] m-kru opened #131 "Register custom Document and Workspace classes"
pygls provides some basic `Document` and `Workspace` classes. However, in real you expect these classes to have more functionality, for example user may want `Document` class to store list of symbols. I was wondering what was your idea on user utilizing these classes. Should I inherit from them, or maybe use them as attributes?

[2020-08-18 16:24] danixeee commented on #131
You can take a look [here](https://github.com/textX/textX-LS/blob/master/textX-LS/server/textx_ls_server/protocol.py) on how to use your custom `Document` and `protocol ` classes, and [here](https://github.com/textX/textX-LS/blob/master/textX-LS/server/textx_ls_server/server.py#L66) on how to provide `protocol` class to the server.

I would say that this is a workaround and there should be an easi

[2020-08-19 05:24] m-kru commented on #131
I do not like workarounds. Do you have any "easier way" in you mind?

[2020-08-19 10:49] danixeee commented on #131
The solution that I used in `textX-LS` is pretty straightforward and there's nothing wrong with it. In my case it wasn't workaround because I needed to override protocol class as well.

You can always do something like:

[code]

unless you want to contribute to `pygls` to make this possible.. :)

[2020-08-19 12:50] m-kru commented on #131
I could try. I was just wondering if you already know how this should be implemented in `pygls`.

[2020-08-20 15:06] pappasam commented on #124
@danixeee Another option is to have a library-specific value for a missing serializable attribute:

[code]
In the serializer, you can do an identity `is` check for UNDEFINED and not return it if the object is undefined:

[code]

I was drawn to the conversation by the following issue: https://github.com/pappasam/jedi-language-server/issues/38#issuecomment-675588654

[2020-08-26 06:03] EFFYLYX opened #133 "Exception has occurred: Error: Header must provide a Content-Length property."
`Exception has occurred: Error: Header must provide a Content-Length property.
t StreamMessageReader.onData (/Users/.../ls/node_modules/vscode-jsonrpc/lib/messageReader.js:163:27)
 at Socket.<anonymous> (/Users/.../ls/node_modules/vscode-jsonrpc/lib/messageReader.js:148:18)
 at Socket.emit (events.js:203:13)
 at addChunk (_stream_readable.js:295:12)
 at readableAddChunk (_stream_readable.js:276:11

[2020-08-26 11:36] perrinjerome commented on #133
If vscode communicates with language server by  stdout/stdin (which is the default) then it's cricital than the server process does not output random things on stdout otherwise it gets mixed in json-rpc messages.

Does this happen with a language server you are writing ? You should check that you don't have left some debugging print statements, if I remember correctly it causes this kind of errors

[2020-09-22 12:36] TiemenSch commented on #74
Hi @danixeee,

So far I'm successfully using Nuitka in my personal dev environment! Although I haven't been able to get the VS Code extension to reconnect after you restart the server process. That is an entirely different issue, though, so I would suggest closing this.

For simplicity's sake, I changed my mind and would no longer want to put this directly inside the/any demo extension.

[2020-09-22 12:36] #74 closed

[2020-09-22 12:47] TiemenSch commented on #131
I would agree that is by far the easiest method to override specific classes in Python.

Still, for much of your "internal" code and logic, it might be wise to work with custom classes you maintain in your own package. Writing tokenizers/lexers/compilers often comes with its own specific need for storage of information. I've been using [sly](https://sly.readthedocs.io/en/latest/) to do some of the

[2020-09-22 12:53] TiemenSch opened #134 "Commands with argument inputs"
Some other (VS Code) extensions provide commands that can ask for additional user input (e.g. ``Developer: Show Logs...``).

Is this currently supported in ``pygls``? I can't seem to find any documentation on it.

In terms of the JSON example: it might be instructional to add an additional countdown command with a ``user_input`` number of seconds.

[2020-09-24 21:14] oncomouse opened #135 ""tuple indices must be integers or slices, not str""
I'm having an issue with a particular LSP client that reports a feature it doesn't actually support (which is a whole other headache), but I'm trying to use `except` to ignore the error. However, the server is instead exiting with the follow trace:

[code]

It looks like a tuple is getting passed to from_dict when an error is encountered, but I'm not really sure if this is something I did wrong or

[2020-09-25 12:30] danixeee commented on #135
Hey, could you check if [json-example](https://github.com/openlawlibrary/pygls/blob/master/examples/json-extension/server/server.py) works with the LSP client that you are using? There are few commands which invoke `get_configuration` method and they work with VS Code client.

[2020-09-25 14:54] oncomouse commented on #135
So it was something I was doing wrong. The `json-example` server worked perfectly.

My server was call `get_configuration` inside of the method that had been decorated with the `INITIALIZE` feature. I moved the configuration request to an `INITIALIZED` method instead, and it worked.

I guess there still might be a problem with that method getting passed a tuple instead of a dict, but my server is

[2020-09-25 14:54] #135 closed

[2020-09-29 11:47] danixeee opened #137 "v0.9.1."
- [x] update versions (@danixeee)
- [x] update CHANGELOG (@danixeee)
- [x] tag/build release (@danixeee )
- [x] upload to PyPi (@danixeee )

[2020-10-19 10:12] #137 closed

[2020-11-17 13:35] danixeee commented on #134
You can ask for additional user input on the client (VS Code) side and send the data to the server.

Take a look [here](https://github.com/textX/textX-LS/blob/master/client/src/services/projectService.ts#L152).

You need to register an "internal" command that will call your client's function where you can make an interaction with the user and then call a server's command with the given input.

Is

[2020-11-23 16:12] danixeee commented on #118
When I start the server over TCP, I notice that client sends only `shutdown` request and not `exit` notification after it. That happens when I close VS Code window, but I am pretty sure that it was working before. I guess pygls needs to periodically check if client's process is still alive and exit otherwise (#130).

[2021-01-28 01:22] mike-vogel opened #144 "Examples of using pygls"
Are there any other projects using pygls besides the json-extension that can be used to learn how to use other LSP features, e.g., Hover?

[2021-01-28 02:47] krassowski commented on #144
Have a look at the [dependency graph](https://github.com/openlawlibrary/pygls/network/dependents); a few that stand out:
- https://github.com/pappasam/jedi-language-server
- https://github.com/muffinmad/anakin-language-server
- https://github.com/galaxyproject/galaxy-language-server/tree/master/server
- https://github.com/broadinstitute/wdl-ide
- https://github.com/textX/textX-LS/tree/master/textX

[2021-02-04 20:12] karthiknadig opened #145 "null value fields in payload should be skipped"
I am not sure if the LSP spec specifies if you can use `null` for optional fields in response or notification. But this seems to cause issues with VS Code.

Here is an example, consider this response content from `pygls`:
[code]
Notice the `"detail": null`, looks like VS Code does not like that. Outline does not show up in VS Code UI when `"detail": null`.

Removing that `null` fields seems fix th

[2021-02-04 20:17] krassowski commented on #145
Already tracked in https://github.com/openlawlibrary/pygls/issues/124 I believe. The consensus appears to be that nulls are not allowed unless explicitly specified in the protocol.

[2021-02-05 00:30] mike-vogel commented on #75
I copied the [above provideCompletionItems code](https://github.com/openlawlibrary/pygls/issues/75#issuecomment-507652251) for completion. When I type the completion character at the end of a line it works as expected. When I type the character in the middle of the line:
- The completion list appears at the end of the line rather than at the column in the line where I types the completion characte

[2021-02-05 07:33] karthiknadig opened #146 "Missing type OptionalVersionedTextDocumentIdentifier"
Looks like `pygls` has `VersionedTextDocumentIdentifier` but is missing `OptionalVersionedTextDocumentIdentifier`.

Additionally TextDocumentEdit should be using OptionalVersionedTextDocumentIdentifier:
https://microsoft.github.io/language-server-protocol/specifications/specification-current/#textDocumentEdit

Related:
https://github.com/pappasam/jedi-language-server/issues/61

[2021-02-05 13:34] danixeee commented on #145
@karthiknadig

As @krassowski said, we are aware of that and the bug should be fixed in #139. It will be merged and released soon, but there will be backwards-incompatible changes.

[2021-02-28 17:22] Mr-Crabman opened #147 "Can't run the json-extension example; preLaunchTask 'compile:client' terminated with exit code 127"
I'm trying to follow the tutorial from here to run the json-extension example: https://pygls.readthedocs.io/en/latest/pages/tutorial.html#tutorial

However, it fails to run; the terminal shows this when I start the debugging process:

[code]

And I get a popup message at the same time saying "the preLaunchTask 'compile:client' terminated with exit code 127", and if I select "debug anyway", it open

[2021-03-02 14:10] Mr-Crabman commented on #147
So it seems my unfamiliarity with javascript is what did me in; I still can't follow the README exactly, but what was wrong was I had not installed `node-typescript`, so that's the solution, if anyone else ever has this problem.

[2021-03-02 14:10] #147 closed

[2021-03-15 18:38] #81 closed

[2021-03-15 18:38] #146 closed

[2021-03-15 18:47] danixeee commented on #108
This should be solved by #139. Please reopen if that is not the case.

[2021-03-15 18:47] #108 closed

[2021-03-15 18:48] #112 closed

[2021-03-15 18:50] danixeee commented on #124
Solved with #139.

[2021-03-15 18:50] #124 closed

[2021-03-15 18:52] danixeee commented on #128
Fixed in #139.

https://github.com/openlawlibrary/pygls/blob/master/pygls/lsp/types/language_features/completion.py#L91

[2021-03-15 18:53] #128 closed

[2021-03-15 18:55] danixeee commented on #145
Solved in #139.

[2021-03-15 18:55] #145 closed

[2021-03-15 18:57] danixeee commented on #133
I hope @perrinjerome helped you, please re-open if you still have the issue.

[2021-03-15 18:57] #133 closed

[2021-03-15 18:58] danixeee commented on #127
Added in #139.

https://github.com/openlawlibrary/pygls/blob/master/pygls/lsp/types/text_synchronization.py#L40

[2021-03-15 18:58] #127 closed

[2021-03-15 19:00] danixeee commented on #134
Closing this, let me know if you have additional questions.

[2021-03-15 19:00] #134 closed

[2021-03-16 09:32] #118 closed

[2021-03-16 09:33] danixeee commented on #130
Closed via #149.

[2021-03-16 09:33] #130 closed

[2021-03-16 12:49] danixeee opened #151 "v0.10.0"
- [x] update versions
- [x] update CHANGELOG
- [x] tag/build release
- [x] upload to PyPi
- [x] link PRs that shows how to transition from pygls `v0.9.1` to `v0.10.0`

@perrinjerome, @pappasam, @dinvlad, @deathaxe, @muffinmad New version is uploaded on PyPI, thanks all.

It would be great to link PRs with the transition to pygls v0.10.0, so others can see what's needed to be changed since the new

[2021-03-16 13:09] #126 closed

[2021-03-17 04:10] hlouzada opened #153 "Pydantic FoldingRangeParams query field ValidationError"
There seems to be an error with ``FoldingRangeParams`` as it's missing the ``query`` field. Although it's not specified by **LSP** and it might be unneeded. As the new release now uses ``pydantic`` (#151) it is requiring the ``query`` filed and throwing an error if not used.

As specified by LSP:
[code]
See [LSP Reference](https://microsoft.github.io/language-server-protocol/specifications/specifi

[2021-03-17 17:25] danixeee commented on #153
@hlouzada Fix is released

[2021-03-18 17:28] muffinmad opened #155 "WorkspaceFoldersServerCapabilities.change_notifications is always sent as string"
[code]

[2021-03-18 21:04] danixeee commented on #155
@muffinmad There's an issue with unions in pydantic.

It happened here as well: https://github.com/openlawlibrary/pygls/blob/master/tests/lsp/test_rename.py#L161.

But in this case, changing `Union[str, bool]` to `Union[bool, str]` will fix it.

With fix:

[code]

Since `changeNotifications` represents `ID`, this won't be an issue anymore...

[code]

I will check `Unions` in other places as well.

[2021-03-19 12:33] #155 closed

[2021-03-19 22:00] muffinmad opened #159 "Type of the id field in response message"
The type of the `id` field in server response message is always `str` [now](https://github.com/openlawlibrary/pygls/blob/4d8d8e25fbedd3d41b75e8bfe041c99fe3611b1d/pygls/lsp/types/basic_structures.py#L72).

The LSP client can't get response for `{"id": 1, "method": "initialize}` request because pygls will respond with `{"id": "1", "result": {...}}` and `1 != "1"`.

Can we please have the `id` in the

[2021-03-22 12:29] danixeee commented on #159
@muffinmad Although this was a bug in `pygls`, type checking for `Unions` is not working well in `pydantic`... I implemented some workaround for now.

[2021-03-22 17:18] #159 closed

[2021-03-23 18:27] karthiknadig opened #161 "Can psutil dependency be optional?"
We ship `jedi-language-server` with Python extension for VS Code, which depends on `pygls`. With the latest version `0.10.*` there is a dependency on `psutils` which means that we cant ship `jedi-language-server` in-box, since `psutil` needs the wheels on some platforms. Can the `psutil` dependency be made optional?

/cc @pappasam

[2021-03-23 21:21] pappasam commented on #161
@karthiknadig possibly a silly question, but I'm just curious: how is the psutil dependency different (from an in-box shipping perspective) from our reliance on pydantic? Pydantic also ships compiled wheels:

- [pydantic](https://pypi.org/project/pydantic/#files)
- [psutil](https://pypi.org/project/psutil/#files)

[2021-03-23 21:28] karthiknadig commented on #161
`psutil` requires wheels on osx and windows, some of the actual code they need is in C. Like this file for example
https://github.com/giampaolo/psutil/blob/master/psutil/_psutil_osx.c

It is not an issue with `pydantic`, because the wheels are there to provide optimizations, are not necessary.

On OSX we get this error if there are no wheels installed:
[code]

[2021-03-23 21:30] pappasam commented on #161
Understood. Looks like it's only in [1 place](https://github.com/openlawlibrary/pygls/blob/6cb9af98e67f4e71620c4ba1f0d0cd15757e8312/pygls/utils.py). @danixeee what are your thoughts about alternatives to psutil? It would be nice to remove as many 3rd party dependencies as possible from this foundational library.

[2021-03-23 22:07] brettcannon commented on #161
@pappasam pydantic has a pure Python wheel (`py3-none-any`), so we can install and use that.

As for alternatives, I personally don't know of any. But looking at the code, could the use of psutil be optional?
[code]

[2021-03-24 07:31] karthiknadig opened #162 "Add support for setTrace Notification"
This is used by LS client to set the tracing level on the server. Looks like this was added in LSP 3.16 (https://microsoft.github.io/language-server-protocol/specifications/specification-current/#setTrace)
[code]

[2021-03-24 07:48] karthiknadig commented on #161
Additional note, monitoring `pid` directly like this does not guarantee that it is the client. `pid` could be recycled in the time between the two checks.

[2021-03-24 08:08] perrinjerome commented on #161
Note that `psutil.pid_exists` is very simple ([code for reference](https://github.com/giampaolo/psutil/blob/bfae1fc4a371c9e08f2c3f5053a80542e43d18f7/psutil/_psposix.py#L34-L53)), it just uses `os.kill(pid, 0)`, which as described in [ kill(2) manpage](https://man7.org/linux/man-pages/man2/kill.2.html#:~:text=If%20sig%20is%200,%20then%20no%20signal%20is%20sent) :

I don't know how portable this is

[2021-03-24 08:55] danixeee commented on #162
Yes, they are constantly changing specs. Looking at the [changelog](https://microsoft.github.io/language-server-protocol/specifications/specification-current/#version_3_16_0), I will need to update few more things.

[2021-03-24 08:59] danixeee commented on #162
@karthiknadig Actually, everything from `3.16` needs to be added.

[2021-03-24 09:25] danixeee commented on #161
@pappasam Usually, platform-specific libs have multiple builds (for each platform). Take a look at https://pypi.org/project/psutil/5.8.0/#files. Or, if not, a needed platform-specific wheel is built on your machine when you run `pip install ...`.

 @perrinjerome I am not sure if we could just copy that function. Looks simple, but I guess it's somehow related to these C functions: [win](https://git

[2021-03-24 16:57] brettcannon commented on #161
Totally ignorant question: if this is for the TCP scenario and not stdin/stdout scenario, would checking if the socket is not closed work?

[2021-03-24 16:58] brettcannon commented on #161
And my (not important) vote is "make `psutil` an optional dependency" since cross-platform stuff is hard to maintain and it makes pygls the most useful on the most OSs (e.g. what if someone wants to run pygls on some "exotic" OS that you don't have support for?).

[2021-03-24 17:01] brettcannon commented on #161
Actually, if this is **only** for the TCP situation (which I believe we don't use, right, @karthiknadig ?), then another solution is to still have psutil installed, but make the success or failure of the import contingent on a TCP server being started.

[2021-03-24 17:54] danixeee commented on #161
@brettcannon Good point, I took a look at `asyncio.Protocol` and found a solution... I will create a PR now.

[2021-03-24 18:02] karthiknadig commented on #161
@brettcannon That is correct we don't use TCP, we just use stdio.

[2021-03-24 18:21] danixeee commented on #161
@karthiknadig, @pappasam, @perrinjerome, @brettcannon

This should work #163.

[2021-03-24 20:12] pappasam commented on #161
I'll be able to test out once I adding TCP support to `jedi-language-server` soon

[2021-03-25 17:58] #161 closed

[2021-03-26 12:41] bollwyvl opened #165 "test_tcp_connection_lost hangs under certain conditions"
Hi folks! Thanks again for pygls!

Downstream on [conda-forge](https://github.com/conda-forge/pygls-feedstock/pull/5), I'm trying to get `0.10.2` out... it looks like one of the tests fails if it can't bind to `0.0.0.0` under certain conditions (probably some docker nonsense, probably nobody's _fault_). Here are the [logs](https://dev.azure.com/conda-forge/feedstock-builds/_build/results?buildId=2

[2021-03-26 12:49] bollwyvl commented on #165
Can confirm that skipping that leaves everything else running :tada:!

[2021-03-26 21:14] danixeee commented on #165
I googled it a bit and it looks like it's related to docker.

Try to change `localhost` to `127.0.0.1` in `test_tcp_connection_lost` and please submit a PR if that solves the issue. :)

[2021-03-27 22:05] karthiknadig commented on #162
@danixeee I can help with this. Should I create a issue for each item to be added? Should `3.16` work go in a separate branch?

[2021-03-30 17:38] danixeee commented on #162
@karthiknadig I don't mind having only one issue if you plan to address all changes for `3.16`. I think I won't have time to work on it this week.

I believe you go through recently modified files [here](https://github.com/microsoft/vscode-languageserver-node/tree/main/protocol/src/common) and check everything that has `@since 3.16` in docstring. That should be easier than going through the specif

[2021-03-31 14:14] suzizecat opened #168 "Return unkown method "didChange" if unregistered document"
Hi.

Using your examples in windows for VS Code, I came across the issue that, for whatever reason, a document I'm handling is not registered in `Workspace._docs`.
The problem is that when receiving a "didChange" notification, the `bf_text_document__did_change` function call `workspace.update_document` which then raise a `KeyError`.
This `KeyError` will be catched in the try/except block of `JsonR

[2021-03-31 15:43] suzizecat commented on #168
The fact that my document was not registered came from a mistake on my end. I forgot that "starting" the server would mean having it block the rest of the script interpretation, thus avoiding the declaration of all bindings. (I had it just running right after its declaration).

PS : As I manipulate pygls a bit more, I got one thing to say : this stuff is awesome ! 🤩

[2021-03-31 16:02] danixeee commented on #168
Great you figured it out, I wanted to take a look at this now, but I'll just close the issue then. :)

Thank you!

[2021-03-31 16:02] #168 closed

[2021-03-31 16:03] #151 closed

[2021-03-31 16:41] suzizecat commented on #168
To let you know, the actual issue (wrong diagnostic) might be worth fixing somehow.
Here the diagnostic should have been something along the lines of "tried didChange on a non-registered document".

[2021-04-01 09:20] danixeee commented on #168
@suzizecat Could you link or write a code snippet that is causing this issue so I can better understand?

[2021-04-01 11:06] suzizecat commented on #168
@danixeee Indeed !
Just take the server.py file from pygls tutorial (https://github.com/openlawlibrary/pygls/blob/master/examples/json-extension/server/server.py) and add something like
[code]
right bellow the `json_server` declaration, line 55.

Then, try to follow the tutorial and just write anything in the editor.

[2021-04-01 14:00] danixeee commented on #168
Yes, that's blocking, so all lines below won't be processed.
Every open document **must** be registered in the pygls workspace, so "tried didChange on a non-registered document" should never happen actually.

I guess we could have better error messages at some places, but not sure if we can cover all the possible cases. :)

[2021-04-01 14:01] danixeee commented on #165
@bollwyvl Did you have time to try it out?

[2021-04-01 14:14] suzizecat commented on #168
That might be quite hard to get all cases covered 😅
My point was only that you might want to cover this one since I found the point where you could add a raise clause.
Actually adding it is up to you guys if you think it can bring any added value.

[2021-04-01 14:59] bollwyvl commented on #165
Sorry not yet!

[2021-04-12 10:33] suzizecat opened #170 "Progress report capabilities"
Hi there,

I am trying to setup a progress report from the LS to Visual Code.

I implemented the following functions :

[code]

When I execute `on_start_progress` and `on_stop_progress` from a client command, I do get the appropriates prints on the python side, however, I have no reaction at all even though I expect to have an indefinite progress bar.

I haven't found any resource about this in th

[2021-04-12 15:21] danixeee commented on #170
@suzizecat I haven't tried this yet.

Take a look at the [specs](https://microsoft.github.io/language-server-protocol/specification#initiatingWorkDoneProgress). [This](https://microsoft.github.io/language-server-protocol/specification#serverInitiatedProgress) says that if you want to initiate a progress server-side, you need to send a request to the client first, and, if it is successful, you can

[2021-04-13 04:13] perrinjerome commented on #170
Also, that's just a random guess, but I see `print` statements in the code you posted. When running the server in stdio mode, you should not be printing on stdout, otherwise the print statements output get mixed up in the protocol output and the messages are no longer valid.

[2021-04-13 06:43] suzizecat commented on #170
@danixeee Thanks for the example. It works well on my side so I will be able to make it work in my situation.
Just to confirm, if  want to use a thread instead of a coroutine should I use `ls.lsp.send_request` ? I didn't found such function in some documentation.

@perrinjerome Thanks for the head-up. I'm currently running my server in tcp mode so no issue yet. I'll keep this in mind when switchin

[2021-04-13 11:23] danixeee commented on #170
We will add some helper methods to the server class, like `get_configuration` and `get_configuration_async`.

You can see differences between _thread_, _async_, and _callback_ approaches in the [json example](https://github.com/openlawlibrary/pygls/blob/master/examples/json-extension/server/server.py).

In your case:

[code]

[2021-04-14 22:43] misdocumeno opened #171 "textDocument/completion feature not working properly"
the `completions` function is called on every change in the document, regardless of the `trigger_characters` list sent inside the `CompletionOptions` object to the `ls.feature(...)` decorator

[2021-04-16 13:54] danixeee commented on #171
I can't reproduce this, but the client is the one who is triggering everything. Try updating VS Code and client npm packages and let me know if that solves the issue.

[2021-04-17 00:24] brettcannon commented on #101
Is there still interest in doing this? I had a similar thought yesterday about auto-generating the Pydantic classes for the protocols from the official Markdown files.

[2021-04-17 00:28] brettcannon opened #172 "Move from Azure Pipelines to GitHub Actions"
Any interest in moving to GitHub Actions? I noticed the Actions tab is turned on in this repo but isn't being used. I'm willing to do the work to set it up if you're interested.

[2021-04-17 00:48] misdocumeno commented on #171
**what I did:**

- I update vscode to the latest version (it was already up to date)

- I downloaded [this](https://github.com/microsoft/vscode-extension-samples/tree/63d86e3a0e459b2adf26487204891f7af62898ce/lsp-sample) example from the microsoft repo

I kept much of it unmodified, except the server obviously, I replaced it with a python virtual environment

[code]

everything fine so far

- I did

[2021-04-17 03:25] bollwyvl commented on #101
Thanks for warming this back up!

I don't want to make too much trouble regarding pydantic (said horse being vigorously flogged elsewhere) but my bet is still on an at-rest JSON Schema intermediate. With this, a library can either use it directly with a validator at runtime, or generate classes in whatever language.

My reasoning is this is the likeliest to get support/adoption by other communitie

[2021-04-17 08:01] danixeee commented on #171
Could you first try our [json-extension example](https://github.com/openlawlibrary/pygls/tree/master/examples/json-extension) and let me know if you have the same issue?

[2021-04-17 09:04] JulienPalard opened #173 "Infinite loop when not exited properly"
Initially found this issue by using [jedi-language-server](https://github.com/pappasam/jedi-language-server/) and killing emacs with SIGKILL.

I think it boils down to a simple reproducer by using the pygls json example:

[code]

Then start it `python3 run.py`, and kill it `pkill -9 -f bug.py`, by doing so, pygls hits 100% CPU (see strace below).

My initial reproducer with emacs and jedi-language

[2021-04-17 16:42] misdocumeno commented on #171
- I copied everything from the json example

[code]

and i get this:
[code]
[2021-04-17T16_37_45_843Z-debug.log](https://pastebin.com/CUZLiSLy)

thats why I tried using the microsoft lsp-server example, and replacing the server with a python environment and pygls

[2021-04-19 17:04] brettcannon commented on #101
Going the route of a JSON intermediate sounds like more of a request on the LSP/VS Code team themselves than us worrying about a cross-language definition. Now making something that works for various types of Python class definitions (e.g. dataclasses) might make sense, I personally wouldn't want to prematurely optimize for other language communities coming on board when I think that's more of an

[2021-04-19 17:28] danixeee commented on #173
Looks like `stdin.readline` does not throw `BrokenPipeError` [here](https://github.com/openlawlibrary/pygls/blob/master/pygls/server.py#L50). Do you have any idea how to check if PIPE is still open?

Just curious, does this happen with VS Code? They use child processes, not sure if those are killed when the main process is forcibly killed.

[2021-04-20 12:06] JulienPalard commented on #173
As far as I know, readline will return an empty bytes instance when the file is closed or pipe is broken. On all other "lines" the newline is included so the result is not empty, allowing to take appart empty lines and end of files.

[2021-04-20 12:58] danixeee commented on #101
I like the idea with JSON schema, but I don't have time to work on it right now. Is there any benefit in writing a tool to generate classes from official markdown files? It should be pretty straightforward to look at recent changes in [nodejs protocol implementation](https://github.com/microsoft/vscode-languageserver-node/tree/main/protocol) and apply them here, until (and if) they solve https://g

[2021-04-20 13:00] danixeee commented on #172
Is there any important difference? Anyway, I don't mind.

@dgreisen Any thoughts?

[2021-04-20 13:06] danixeee commented on #173
I tried using `loop.connect_read_pipe` and `loop.connect_write_pipe` but couldn't make it work yet. That way `connection_lost` method of protocol would be triggered when a pipe is broken, and we could also reuse reading messages logic in `data_received`.

I think we would need to fix the [custom transport](https://github.com/openlawlibrary/pygls/blob/master/pygls/server.py#L75) and pass it to the

[2021-04-20 16:58] brettcannon commented on #101
I think it's more of a question of whether we can try to minimize custom work from the Python community compared to sharing it across all the language communities. So while I don't think there's anything fundamentally wrong with just scraping the Markdown spec file, I'm personally waiting to see if upstream is willing to at least provide guidance on what they might except so it can be managed in o

[2021-04-20 17:00] brettcannon commented on #172
GitHub Actions is faster and there is way more institutional knowledge from folks in the community compared to Azure Pipelines.

[2021-04-20 17:54] bollwyvl commented on #101
The markdown spec, as written, currently leaves some things under-specified, which need to be filled in by the reference server implementation... I don't remember exactly what (probably some enums or something), but I probably wouldn't have gone to the trouble of unifying the two if i could get it from the spec. For some of them, it doesn't really matter what the spec says, if the 99% focus is on

[2021-04-20 21:17] brettcannon commented on #101
I think discussing stuff on https://github.com/microsoft/language-server-protocol/issues/67 makes sense.

[2021-04-20 21:27] dgreisen commented on #172
I believe the primary reason we went with Azure was so we could test on windows and linux. It [appears](https://github.com/features/actions) we can do all that and more with actions. So I'm fine with actions.

[2021-04-20 23:02] brettcannon commented on #172
GitHub Actions covers Windows, Linux, and macOS.

[2021-04-21 10:27] danixeee commented on #172
Correct, we wanted to test it on both Windows and Linux platforms. @brettcannon If you are still willing to make the transition to GitHub actions, please feel free to do it.

[2021-04-21 11:03] danixeee commented on #171
I just updated npm packages in the `json-extension` example in #175. Please checkout `danixeee/json-example-npm-updates` and try again.

Here's my output:

[code]

For the server, as you already know, you need to create a new python virtual env, install `pygls`, and add a python path to the `settings.json`:

[code]

After that, just open `json-extension` in a new VS Code window or add it as a work

[2021-04-21 16:45] karthiknadig opened #176 "CreateFile, RenameFile, and DeleteFile missing required kind field"
According to spec, `CreateFile`, `RenameFile`, and `DeleteFile` requires the `kind` field: https://microsoft.github.io/language-server-protocol/specifications/specification-current/#resourceChanges

CreateFile: https://github.com/openlawlibrary/pygls/blob/97ebd90adc1aa1aae09bd351f48b098d0c82c681/pygls/lsp/types/basic_structures.py#L252-L254

RenameFile:
https://github.com/openlawlibrary/pygls/blob

[2021-04-21 19:19] brettcannon commented on #172
Yep, I am still up to do it, just don't have an exact ETA.

Any changes you would want, like testing against Python 3.9?

[2021-04-22 10:14] danixeee commented on #172
Sure. So, we would test it for python 3.6-3.9 on all three major platforms?

[2021-04-22 16:50] brettcannon commented on #172
You tell me. 😄 In a lot of projects I see them avoid using macOS simply because it has the greatest chance of holding up results and it often isn't different enough to Linux for Unix-like testing (drawback of Apple not letting people install macOS on anything but a Mac; have to have a literal rack of Mac machines to provide the service).

[2021-04-22 20:29] brettcannon commented on #173
It sounds like @JulienPalard is right and checking for a total lack of data returned is an indication the pipe is closed:

https://stackoverflow.com/questions/49501263/python-and-asyncio-closed-named-pipe-always-available-for-reading

[2021-04-23 09:02] #176 closed

[2021-04-23 09:09] danixeee commented on #172
Makes sense, but I didn't notice any issues with the [macOS builds](https://github.com/textX/textX-LS/runs/1288835004) for another project. We run tests on win32, win64, macOS, and Linux platforms there just fine, but I agree with you that it's maybe not needed. You can just transition what we have now (+python 3.9) and we could always change it later :)

[2021-04-24 00:08] brettcannon commented on #172
I've hit a snag. In the Azure  Pipelines definition you are checking the JSON extension using `tslint`:

https://github.com/openlawlibrary/pygls/blob/11096f7b4d9527a41130021aae03f9a4f66fec4b/azure-pipelines.yml#L59

But what you're in fact installing is eslint:

https://github.com/openlawlibrary/pygls/blob/11096f7b4d9527a41130021aae03f9a4f66fec4b/examples/json-extension/package.json#L72

The probl

[2021-04-24 21:11] brettcannon commented on #172
FYI I found out the 3.9 failure is due to mypy being pinned to an old version. I'll worry about fixing it once I found out what you want to do about about eslint and get GitHub Actions working.

[2021-04-25 18:28] oncomouse opened #179 "BrokenPipeError at shutdown"
This may or may not be related to #173, but I'm seeing the following error whenever I shut down an LSP based on pygls 0.10.2:

[code]

When I change the referenced line to read:

[code]

everything works. Here's the log:

[code]

I'm using Neovim's built-in LSP, if that matters.

The LSP code (which may be configured incorrectly) is here: https://github.com/oncomouse/citation-langserver

Thanks!

[2021-04-25 23:17] oncomouse commented on #179
I should add that the server never shuts down and will eventually start using 100% CPU.

[2021-04-26 12:24] danixeee commented on #172
I removed `tslint` in #175, but forgot to update pipelines yaml.

Could you please add a configuration file? Use whatever configuration you like.

I noticed the same issue in #157 where mypy was updated to the latest version. We should probably fix/merge #157 first. I can do that, so you can continue with your PR.

[2021-04-26 20:49] brettcannon commented on #172
I'm fine with waiting for #157 to be merged before worrying about any PR from me (especially since I asked a question on #157 which might lead to me making another PR 😉 ).

[2021-04-27 17:30] misdocumeno commented on #171
seems to be working fine now, thanks for the help

[2021-04-27 17:30] #171 closed

[2021-04-29 04:57] brettcannon commented on #172
Got it all working (https://github.com/brettcannon/pygls/actions)! Just let me know when #157 has been merged and then I can do a merge against the default branch and create a PR.

[2021-04-29 08:27] suzizecat opened #180 "Startup hook"
Hi !

A the moment, it seems that there is no reliable way to trigger something (in example asking for the client configuration) after the server startup and initialization.

I tried to use the `INITIALIZED` handler with
[code]

where `get_client_config` is (simplified) :

[code]
this function works well in stand alone (or from a `didConfigurationChanged` handler) but when used in `initialized` ha

[2021-04-29 13:32] #173 closed

[2021-04-29 13:55] danixeee commented on #180
Could you try to get the configuration with async/await, and let me know about the results?

[2021-04-29 13:58] danixeee commented on #179
@oncomouse Could you check if https://github.com/openlawlibrary/pygls/pull/181 solves this for you? I can't reproduce it on my end.

[2021-04-29 14:09] oncomouse commented on #179
Yes, this fixes the issue, thanks!

[2021-04-29 14:09] #179 closed

[2021-04-29 14:14] suzizecat commented on #180
So, with :

[code]

I have the "Configuration requested" notification in VSCode as expected, however the "Got configuration back" never appears.
Instead, the log window shows :
[code]

And if I try to run any command (here the manual call to refresh configuration) I have :
[code]

[2021-04-30 11:29] danixeee commented on #172
@brettcannon #157 is merged now, please go ahead and make a PR when you can.

[2021-05-04 19:05] alcarney commented on #180
@suzizecat I've been playing around with something similar and managed to get the following to work for me
[code]
It looks like there are ["normal"](https://github.com/openlawlibrary/pygls/blob/master/pygls/protocol.py#L669) and ["async"](https://github.com/openlawlibrary/pygls/blob/master/pygls/protocol.py#L682) versions of the `get_configuration` function

[2021-05-04 20:55] danixeee commented on #180
@suzizecat Have a look at the [example](https://github.com/openlawlibrary/pygls/blob/master/examples/json-extension/server/server.py), there are all three ways of getting the configuration from the client, or look at @alcarney's answer.

[2021-05-04 21:04] #172 closed

[2021-05-05 09:56] suzizecat commented on #180
I saw those three versions and have no issue with them.
I don't really have any issue with getting the configuration through a command (as done in the example). My issue is rather on how to automatically trigger something, upon server initialization, on a server initiative.

[2021-05-05 14:49] danixeee commented on #180
@suzizecat Does [this](https://github.com/openlawlibrary/pygls/issues/180#issuecomment-832174976) work for you?

[2021-05-05 17:28] brettcannon opened #186 "Add Python 3.9 to CI"
Will require updating at least mypy to a newer version.

[2021-05-05 22:19] alcarney opened #187 "Missing tracebacks from exceptions raised in async notification handlers"
Using this repository's `json-extension` as an example. If I introduce a `ZeroDivisionError` to the handler for the `TEXT_DOCUMENT_DID_OPEN` notification
[code]
and open a json file in a VSCode then the corresponding log entry is missing any traceback information making debugging difficult

[code]

[2021-05-06 12:04] suzizecat commented on #180
@danixeee : @alcarney solution seems to work just fine...
Also, when actually replicating the `get_client_config` content within the `INITIALIZED` hook, it seems to works.
Maybe there is an issue when calling a function registered with the `thread()` decorator from a non-threaded function ?

Anyway, it works ! Thanks !

[2021-05-06 12:25] #187 closed

[2021-05-06 13:31] danixeee commented on #180
@suzizecat It could be because of `@diplomat_server.command(DiplomatLanguageServer.CMD_GET_CONFIGURATION)` and `async` decorated function.

Extract the code for getting the configuration into a separate function, and call the function on multiple places:

[code]

[2021-05-07 07:34] cinghiopinghio opened #189 "package lacks `__version__`, results installed as version 0.0.0"
Hi,

After commit b7601dd0d208602d07a80d9c6ab154f715d8f700, the metadata in `setup.cfg` lacks the version number resulting in `pygls` being installed (in Archlinux) as version `0.0.0` when checked with:
[code]
or the corresponding method with `pkg_resources`.
This causes conflicts with other packages requiring some `pygls` versions (e.g. [anakin-language-server](https://github.com/muffinmad/anakin

[2021-05-07 10:17] danixeee commented on #189
You need to install all build [dependencies](https://github.com/openlawlibrary/pygls/blob/master/pyproject.toml#L2).

@KOLANICH Since you made this change, could you confirm?

[2021-05-07 10:22] cinghiopinghio commented on #189
@danixeee : all those dependencies are well installed with the most recent version.

[2021-05-07 16:15] #180 closed

[2021-05-07 19:08] cinghiopinghio commented on #189
In particular the installed versions are:
- `setuptools==56.0.0`
- `wheel==0.36.2`
- `setuptools_scm==5.0.2`

[2021-05-10 09:49] danixeee commented on #189
@cinghiopinghio Did you try updating `setup.cfg` as I suggested?

[2021-05-10 10:20] cinghiopinghio commented on #189
Ohh, this is weird.

I reproduced the steps used on the `PKGBUILD` to build the package in Archlinux and now I magically have the right version.

So to conclude: using any installation method (`pip` or `setup.py`, `local` or `global`, with or without your suggestions) it works.
It has to be something to do with the packaging process. I'll open an issue [there](https://github.com/archlinux/svntogit

[2021-05-10 11:16] danixeee commented on #189
I had the same issue because I forgot to install the `toml` extra dependency.

[2021-05-10 11:28] eli-schwartz commented on #189
Moving the setuptools_scm stuff from pyproject.toml to setup.cfg seems like the correct choice.

pyproject.toml build-system.requires tells pep 517 how to select the setuptools build backend, but it is setuptools itself which needs to know that setuptools_scm[toml] is needed. So that requirement needs to be specified in a way that guarantees setuptools always knows about it, i.e. in the setuptools

[2021-05-10 12:09] polyzen commented on #189
The missing build deps were added to the Arch Linux package.

[2021-05-10 17:36] KOLANICH commented on #189
I'm  sorry for the delay, I was offline.

Not quite. `setuptools_scm` doesn't support configuration in `setup.cfg` And it is good, because  the community has decided to promote `pyproject.toml` as a single config for all info related to package building (it may be possible to move the contents of `setup.cfg` there too).

Yeah. I have created a PR about it,  #191. Almost the same as @danixeee has p

[2021-05-10 17:45] KOLANICH commented on #189
@cinghiopinghio, please note that latest versions of `pip` and `setuptools` and `build` by default do such harmful thing as `build isolation`. During the build process it creates a some kind of virtualenv (not a real virtuaprnv) and installs there build deps from scratch. Fortunately, it can be disabled. For `pip` one can use a flag (and it can be even added into `pip.cfg`, but there is a nuance:

[2021-05-10 17:45] eli-schwartz commented on #189
Sorry, by "the setuptools_scm stuff" I was referring to "the requirements list" in build-system.requires.

[2021-06-11 03:41] limdauto opened #193 "Cannot run the json-extension example"
Hi,

I'm trying to run the JSON extension example. I tried to follow the README but couldn't get it working. Generally, what I was doing was:

* Launch a server manually (either through Launch configuration or just plainly through the command line). I could verify that the server is running on port 2087.
* Launch the client through the Launch configuration.

However, whenever I try to execute a co

[2021-06-13 01:44] limdauto commented on #193
Closing because even though I still haven't been able to run the JSON example, I can run the minimal server example instead.

[2021-06-13 01:44] #193 closed

[2021-06-13 15:02] #170 closed

[2021-06-13 15:02] #115 closed

[2021-06-13 15:02] #162 closed

[2021-06-14 09:42] danixeee commented on #193
@limdauto I just cloned a fresh repo and install everything from scratch and I can't reproduce the issue.

Which version of npm and node do you have? I am testing with `npm 6.14.13` and `node v14.15.1`.

[2021-06-14 09:46] danixeee commented on #170
@suzizecat [Progress reporting](https://github.com/openlawlibrary/pygls/blob/master/examples/json-extension/server/server.py#L155) is now added to the server.

[2021-06-14 12:51] mturoci opened #194 "Completion provider to provide non-saved file contents"
Hi, great work on the lib!

I am writing a VSC extension for our python framework and trying to implement autocomplete. The problem is `trigger_characters` are not enough for me as I would need to know more context. E.g. differentiate when the completion was triggered by `q.client.` or `q.app.` so that I could provide valid completion items ofc. I am able to get the triggering file contents, but i

[2021-06-14 15:29] danixeee commented on #194
Hey, thanks.

Text document synchronization is done before calling other features like `code completion`. You can get a (dirty) file content like this:

[code]

What is `q.client` and `q.app`?

Hope this helps.

[2021-06-15 06:01] mturoci commented on #194
Thanks for response @danixeee, unfortunately, this doesn't give me dirty file contents like I need. See the demo:

https://user-images.githubusercontent.com/64769322/122000461-247bdc00-cdaf-11eb-84e8-ef8e7cbd135d.mov

I only get the file contents that was previously saved (notice the missing `q` in `text_doc.source`).
![image](https://user-images.githubusercontent.com/64769322/122000902-d2878600-c

[2021-06-15 10:22] danixeee commented on #194
Ok, this is true, but I don't know why... :) Even if it's triggered, a list of completions on the client is not displayed unless the trigger characters are not matched.

Can you check the JSON server example in this project? File content stored in the server's memory matches the one on the client even if it's not saved (`save` doesn't do anything by default in `pygls`).

[2021-06-15 10:30] danixeee commented on #144
@krassowski Thanks for listing projects! The dependency graph no longer works for some reason, it might be related to `setup.cfg`, not sure.

[2021-06-15 10:30] #144 closed

[2021-06-15 10:31] #189 closed

[2021-06-15 16:07] mturoci commented on #194
You are right, this works as expected. This implied I have a bug in my code, but then I managed to repro in your example project as well. Simply remove `did_open`, `did_change` and `did_close` and you should get the behavior I described. I guess this is not expected.

This also clarifies why my original code didn't work - I removed all the unnecessary boilerplate.

So basically I am able to workar

[2021-06-16 09:11] danixeee commented on #194
A great catch actually! Can you see if #195 works for you? I am still not sure why is `code completion` called on _every_ character.

[2021-06-16 09:19] mturoci commented on #194
@danixeee I can confirm that proposed fix works like a charm for me, thanks!

[2021-06-18 10:22] #194 closed

[2021-06-18 12:01] danixeee opened #196 "Release v0.11.0"
- [x] update versions
- [x] update CHANGELOG
- [x] tag/build release
- [x] upload to PyPI

[2021-06-18 12:33] danixeee commented on #196
Released: https://pypi.org/project/pygls/0.11.0/.

[2021-06-18 12:33] #196 closed

[2021-06-24 11:14] MatejKastak commented on #85
I think the base implementation is resolved in https://github.com/openlawlibrary/pygls/pull/129 . Maybe we can close this issue?

[2021-06-24 12:47] danixeee commented on #85
@MatejKastak you are right. Closing the issue, thanks!

[2021-06-24 12:47] #85 closed

[2021-06-27 21:39] bollwyvl commented on #165
Opened up #202 which seems to do the trick! Sorry for the delay!

[2021-06-28 13:38] #165 closed

[2021-06-30 10:59] mturoci commented on #194
@danixeee unfortunately, this issues will probably need to be reopened. It seems like it was fixed for dev build, but when I bundle the extension into `.vsix` I face it again.

Using empty `did_open`, `did_change` and `did_close` as a workaround.

[2021-06-30 14:59] danixeee commented on #194
@mturoci Could you send the content of a log file?

[2021-07-12 13:16] kalsky opened #204 "Any example on how to use semantic tokens?"

[2021-08-05 23:11] kalsky commented on #204
When I try to use
@server.feature(TEXT_DOCUMENT_SEMANTIC_TOKENS)
I see in the logs that it registers it as a provider, but nothing gets to this function.

When I try to use
@server.feature(TEXT_DOCUMENT_SEMANTIC_TOKENS_FULL)
or any of the other 2 options, I don't see that it's getting registered as server capabilities.

Can you provide an example of how to make it work?

[2021-08-10 13:25] daquexian opened #206 "how to run time-consuming initialization?"
Thanks for your great library!

I'm writing a language server that will do some time-consuming preparation when initializing (that means I don't want the client to send any other messages before the initialization completes). Just registerring the feature by `@server.feature(INITIALIZE)` doesn't work, for the `InitializeResult` is ready sent in the parent class method:

When I'm trying to override

[2021-09-01 18:00] DeeeeLAN commented on #193
I am seeing the same issue, I don't think it makes sense to close the ticket. I am running `npm 6.14.15` and `node v14.17.6`. I cloned the repo, set up the venv, installed the npm dependencies, launched the server + client debug profile, opened a json file, and added a breakpoint to `completions`. When I hit `ctrl+space` in the client json file, the menu pops up without triggering the breakpoint.

[2021-09-01 18:07] DeeeeLAN commented on #193
I just realized my issue is probably because I am running it over remote-ssh, although forwarding the debug port doesn't immediately resolve the issue.

[2021-09-14 00:06] DeeeeLAN commented on #193
Digging into this more, for whatever reason, even though I have my python path set up to point to a 3.6.8 version of python and I can see it being called in the command when I launch the debug tasks, the client output states the python server failed and shows it attempted to use a 2.7 executable. I am not sure where it is getting that path.

[2021-09-14 00:25] DeeeeLAN commented on #193
I have traced my particular issue to the client not picking up the `VSCODE_DEBUG_MODE` setting in the launch configuration, maybe because it is connecting over remote-ssh to an already running server instance. I don't know. Anyway, when I hard-code the `isStartedInDebugMode()` to true, the server connects properly. The client was attempting to launch the server on it's own and was selecting the py

[2021-09-14 07:58] davelopez commented on #193
Hi @DeeeeLAN, you can use the [ExtensionContext.extensionMode](https://code.visualstudio.com/api/references/vscode-api#ExtensionMode) to check if you are running in debug mode (Development).

It would be something like this:
[code]

[2021-09-14 11:34] danixeee commented on #193
@DeeeeLAN Included example shows how to use pygls SDK and it is working well if you follow steps from [Readme](https://github.com/openlawlibrary/pygls/tree/master/examples/json-extension#json-language-server).

You can try what @davelopez suggested above and if it is working for you, please create a PR to replace `isStartedInDebugMode()`.

[2021-09-14 20:25] DeeeeLAN commented on #193
Thanks, that appeared to work great.

[2021-09-15 17:38] alcarney commented on #204
I've had a play around with the example json language server in this repo and I've managed to get something to work, though it appears that there may be a bug or two in `pygls`. Here is the result with semantic tokens

![image](https://user-images.githubusercontent.com/2675694/133476635-385babe8-ed87-4566-8c43-c1a5e23de44b.png)

vs the result without

![image](https://user-images.githubusercontent

[2021-09-15 17:46] alcarney commented on #204
There does however, seem to be a few bugs in how `pygls` fills out the `ServerCapabilities` field for semantic tokens so in order to make the example above work, I had to make the following changes in `pygls` itself.

[code]

I'm not entirely sure however, if the example above is how `pygls` intends the semantic tokens feature to be used but I'm happy to open a PR with these changes if that would

[2021-09-24 03:03] pyscripter opened #209 "pygls only understands the file URI scheme."
As per title.  More specifically it does not handle properly the untitled scheme used by VS-Code.   The URI for unsaved buffers in VS-Code is "untitled:buffername".  But this is not handled properly by pygls.

See the debug output below for an example:

[code]

As you can see the URI was changed by pygls from "untitled:module1" to "file:///C:/Delphi/Progs32/Python/Pyscripter/module1"
The scheme wa

[2021-10-15 01:51] Lorac commented on #204
@alcarney It would be helpful to me as I got the same missing feature when trying to use it. I think it's from 3.16 LSP, so I don't know if it will require something special additional to modify.

[2021-10-20 18:19] pyscripter opened #211 "Add an optional version parameter to LanguageServerProtocol publish_diagnostics"
- The LSP v15 added an optional version parameter to the publishDiagnostics notification.
- PublishDiagnosticsParams includes version but,
- LanguageServerProtocol.publish_diagnostics is not  using version

Please make version an optional parameter of LanguageServerProtocol.publish_diagnostics so that Lsp Servers can implement this feature.

[2021-10-27 08:22] JimmyHuang454 opened #212 "Missing language_id in "class Document""
I need to get language_id to identify source's kind. And there are so many LS need this too, such as [efm](https://github.com/mattn/efm-langserver).

pygls declared "TextDocumentItem" with lanuage_id in "pygls/lsp/types/basic_structures.py", but never use /store language_id.

[code]

[2021-11-01 23:48] kalsky opened #214 "Running a subprocess on windows hangs"
I'm seeing an issue with running a subprocess in an async command.
When I run the extension under Windows, the subprocess will hang (for most commands).

(I tried to reproduce this using the json extension example and it happens there as well - you can just modify one of the async example commands to the code below).
The async command might look like this:
[code]

Observations:
1. If the function

[2021-11-03 20:56] kalsky commented on #214
seems like adding PIPE to the stdin solved it.
proc = subprocess.run(
        [sys.executable, '-c', 'print("aaaa")'],
        stdin=subprocess.PIPE,
        stderr=subprocess.PIPE,
        stdout=subprocess.PIPE
    )

[2021-11-03 20:56] #214 closed

[2021-11-05 05:16] michaelaye commented on #115
Installed jedi-language-server today which pulled in pygls. Getting this error at startup. All packages up to date for a py38 conda-forge env.
pygls 0.9.1

[2021-11-22 08:46] npradeep357 opened #219 "Wb sockets protocol spec deviated"
Hi,

According to Web Sockets specification, there can be 'n' clients which needs 'n' pygls instances. According to the current implementation, only once connection can be supported properly for one pygls process. And it is not practical to start a new WS process every time I need attach a new client.

This can be enhanced (or in fact rectified) by simply providing new pygls instance (object) for

[2021-11-22 08:50] npradeep357 commented on #219
more details over here: [jedi-language-server issues #173](https://github.com/pappasam/jedi-language-server/issues/173)

[2021-12-11 13:35] neriusmika opened #221 "Why Pydantic?"
Is there any reason why you use Pydantic internally? Compared to attrs+cattrs it's at least 5 times slower and doesn't provide any benefits.

https://stefan.sofa-rockers.org/2020/05/29/attrs-dataclasses-pydantic/
https://threeofwands.com/why-i-use-attrs-instead-of-pydantic/

[2021-12-27 03:21] daquexian commented on #206
Thanks for your reply. Sorry for the late response.

It works, but not so perfectly.

Now I hacked the initialize method: https://github.com/daquexian/tagls/blob/c5a826b8e7945d53bd29c6b1819a3e025955ba4e/tagls/server.py line 139, 204 and 235. IMO it works more better than using a flag, because it interacts well with lsp client. For example, in coc.nvim, I get a "initializing" message until my initi

[2022-01-10 17:10] doronbehar commented on #221
I'd also like to know why `setup.cfg` requires pydantic's version to be earlier then 1.9.

[2022-01-11 03:31] VergeDX commented on #221
@doronbehar < 1.9 version add by this PR:
https://github.com/openlawlibrary/pygls/pull/148

[2022-01-12 17:17] doronbehar commented on #221
That PR is missing an explanation why the version was limited to < 1.9. Current upstream version is 1.9.

[2022-02-10 07:32] karthiknadig opened #224 "Add option to `Document.source` to read files without universalized line endings."
Currently `pygls` provides the text document `source` where the line endings are universalized. This is an issue when computing diffs and while applying changes. Universalized line endings might not be the right thing when reading source files.
https://github.com/openlawlibrary/pygls/blob/bbf671f509b0d499a006daeeae8cdb78e3419fe5/pygls/workspace.py#L273-L277

This is an example of a problem, where

[2022-02-11 06:24] karthiknadig opened #225 "Is there an example that I can see for Progress API?"
I made a few attempts to get the progress API working on one of my projects. I have not been able to get it to work right. Is there any example or implementation I can look at for this?

[2022-02-11 18:37] alcarney commented on #225
I think the progress API is used in the example [json-extension](https://github.com/openlawlibrary/pygls/blob/master/examples/json-extension/server/server.py#L198-L214) - does that help?

[2022-02-11 19:04] karthiknadig commented on #225
That helps, Thanks!!!

[2022-02-11 19:04] #225 closed

[2022-02-21 04:41] dgreisen opened #226 "part-time (paid) position to maintain pygls FILLED!!"
All: @tombh has joined our team to focus on pygls. I'm sorry for the slow response on our end these last several months.

@alcarney has also kindly volunteered to help manage the repository.

We will be working through the backlog of issues and PRs, then focusing on testing and community development.

---
Original:
We are looking for someone to help out with maintaining pygls for 20-40 hours per m

[2022-03-04 16:42] dgreisen opened #228 "Full-system automated integration tests"
Once #218 is merged, we can run pygls and vscode entirely in the browser. This means we can use off-the-shelf browser testing frameworks to perform automated integration/acceptance testing, in addition to the existing tests that just test the api interface for compliance with the Language Server Protocol.

It wold be worth seeing if any other projects have implemented something like this already,

[2022-03-17 14:02] denisrosset commented on #221
This affects packages that use `pygls`, such as Esbonio.

There is no way to have VS Code autocomplete (Pydantic 1.9.0) and the Esbonio language server (for documentation using Sphinx) running at the same time.

[2022-04-03 12:37] perrinjerome opened #231 "Progress not functional because `kind` is missing"
The classes used for progress API all have a `kind` property which is used in the LSP protocol so that the client knows if it's a begin, progress or end message:

https://github.com/openlawlibrary/pygls/blob/4772250f8ede25aee8e457dae5bca394aeccdd2f/pygls/lsp/types/basic_structures.py#L442-L459

When these classes are used, usually the `kind` attribute is not set in the constructor, as we can see i

[2022-04-03 13:11] dimbleby commented on #231
https://github.com/openlawlibrary/pygls/pull/198#issuecomment-1086864429

[2022-04-03 13:44] perrinjerome commented on #231
Thanks @dimbleby the suggestion from https://github.com/openlawlibrary/pygls/pull/198#issuecomment-1086864429 would also solve the issue.

[2022-05-16 13:31] ITProKyle opened #232 "[BUG] location of `data_files` breaks type checking when using a virtual environment"
When type checking my project with `pygls` installed, `pyright` is unable to import dependencies. Example from running `npx pyright --venv-path ./ --verbose`

[code]

Notable in this output is the search path `.venv/lib/site-packages` which only contains data files for `pygls`.  The correct path for dependencies within this virtual environment is `.venv/lib/python3.10/site-packages`.

![image](htt

[2022-05-20 02:30] karthiknadig opened #233 "`window/workDoneProgress/cancel` is not according to spec"
Looking at this:
https://github.com/openlawlibrary/pygls/blob/4772250f8ede25aee8e457dae5bca394aeccdd2f/pygls/progress.py#L62-L66

From the [spec](https://microsoft.github.io/language-server-protocol/specifications/lsp/3.17/specification/#window_workDoneProgress_cancel) it looks like the `window/workDoneProgress/cancel` is a notification that comes from client, and not a request that is sent by the

[2022-05-29 10:21] Bobronium opened #234 "Crashes on Python 3.11"
Official support for python 3.10 was added only to pydantic in version `1.9`, however in lib requirements lower version is pinned:
https://github.com/openlawlibrary/pygls/blob/4ce8988c87ba75352a510611881bc1d9d4e6757f/setup.cfg#L28

Might be fixed in #229
Causes https://github.com/microsoft/vscode-black-formatter/issues/67

Initially I thought it crashes on Python 3.10, but as it turned out, I got

[2022-05-30 21:46] tombh opened #235 "Support 3.10, drop support for 3.6"
It's been decided to bump Python support to: 3.7 to 3.10. This is just an issue to place this as a task in the project task list. And to notify #221 and #223 that we don't need to worry about Python 3.6 support.

[2022-06-02 20:32] tombh commented on #231
Fixed in #236

[2022-06-02 20:32] #231 closed

[2022-06-08 15:03] tombh commented on #235
Fixed in #223

[2022-06-09 19:22] tombh opened #238 "Add tests to maintain Pyodide support"
Now that Pyodide is in master, it would be good to have tests for it.

@alcarney's notes:
  * We can try using [@vscode/test-web](https://code.visualstudio.com/api/extension-guides/web-extensions#test-your-web-extension-in-a-browser-using-vscodetestweb) to test the example VSCode extension
  * Pyodide looks like it uses selenium and/or playwright to test itself, I don't see an obvious reusable com

[2022-06-10 23:09] ipa-danb opened #240 "Unknown message id when using STDIO but not with TCP"
I have a bit of unexpected difference in behaviour between STDIO and TCP Server.

I built upon the JSON example, but i have a custom command that triggers a rebuild of the completion/hover/goto options.
This command takes a while to run (~20-30 s).

With the TCP server there is no issue at all, the server builds the new options and then continues to give suggestions.
But with the STDIO server, no

[2022-06-12 11:05] alcarney commented on #240
I also see these messages from time to time in [esbonio](https://github.com/swyddfa/esbonio), but as far as I can tell the server still performs as expected so unfortunately, I’ve never dug into it that much….

Interesting that it only seems to happen on stdio… I assume there’s nothing in the implementation of your reload command that would accidentally print to stdout? I’ve found that tends to br

[2022-06-17 18:12] ipa-danb commented on #240
Indeed that seemed to have been the problem -_-. Thanks so much for your hint @alcarney !

Although it kind of surprises me that this breaks the communication completely. I'd expect that the client would just ignore unknown message. (i know that this is not a pygls error)

Other than that, the "Cancel notification for unknown message id "x"" is a bit cryptic for me. Id expect the server to know ab

[2022-06-29 18:03] slackline opened #243 "pydantic throws ValidationError"
I've encountered an error that pydantic has with `pygls` when used by `jedi-language-server`...

[code]

The authors of [jedi-language-server](https://github.com/pappasam/jedi-language-server/issues/208) suggested it might be down to [lsp-jedi](https://github.com/fredcamps/lsp-jedi/issues/20) who suggested it might be down to `jedi-language-server`, but the error appeares to stem from `pygls` and

[2022-07-02 09:55] gnikit opened #244 "Opening GitHub Discussions"
Hi guys, thanks for the amazing project. I was wondering if you could open GitHub Discussions, so people will be able to ask questions without flooding your Issues.

I specifically wanted to start a discussion about replacing my own horrible implementation of LSP in [fortls - Fortran Language Server](https://github.com/gnikit/fortls) with yours. That is probably going to be a massive undertaking f

[2022-07-02 21:53] slackline commented on #243
Thanks for the pointers, I'll try and get a trace out and work out where the problem is occurring.

[2022-07-03 15:14] alcarney opened #245 "`exclude_none = True` breaks `shutdown` requests"
Unfortunately, it looks like #236 breaks [`shutdown`](https://microsoft.github.io/language-server-protocol/specifications/lsp/3.17/specification/#shutdown) requests.

I have a [command](https://github.com/swyddfa/esbonio/blob/ea8311a2b79ab8ef74157e9d5b2635e6b7b6a9e9/code/src/lsp/client.ts#L256) in Esbonio's VSCode extension that restarts the language server which sends a `shutdown` request to the

[2022-07-03 20:26] dimbleby commented on #245
Aha.  I agree, `exclude_none` was an overshoot, because there are times when you do explicitly want to set a value to None.

In that case I think that we're going to want to come full circle and
- go back to using `exclude_unset=True` during serialization
- reinstate https://github.com/openlawlibrary/pygls/blob/f248002a2fb8a10fb9a5d2bd5a0160a04a6189aa/pygls/lsp/types/basic_structures.py#L57-L63

(

[2022-07-04 13:19] gnikit commented on #244
Thanks, Discussions are now open I will move this issue there.

[2022-07-04 13:19] #244 closed

[2022-07-04 17:54] dgreisen commented on #240
Perhaps just need to solve this with a sufficiently in-your-face warning in
the docs?

On Mon, Jul 4, 2022 at 11:03 AM Thomas Buckley-Houston <
***@***.***> wrote:

[2022-07-04 18:24] alcarney commented on #240
I think there are two issues here

- Accidental prints to `stdout` when the client is communicating with the server over STDIO simply breaks the connection as the client loses track of where it is in the stream and cannot parse any more messages (or at least it appears that way).

  In this situation there's nothing to fix, but maybe adding a warning in the docs along the lines of "never `print()`

[2022-07-04 18:25] alcarney commented on #245
Sure I'll take a look :)

[2022-07-04 20:51] tombh commented on #221
Latest master now specifies `pydantic>=1.9.1,<1.10` and we'll be releasing this on Pypi soon. Could this be a fix? But more generally, what is the best practice for this situation? For example, vendoring all dependencies in the package with something like https://github.com/pradyunsg/vendoring?

[2022-07-04 20:58] tombh commented on #240
* Oh right, that's a bit more significant than I thought then. I suppose one idea at least is to patch something like patch `sys.stdout.write` with a simple regex to exclude everything that doesn't look like a command?
  * This issue is likely not from errant debug messages right? If it becomes more serious we'd have to start from scratch to figure out what's going?

[2022-07-04 22:37] #245 closed

[2022-07-04 22:42] alcarney commented on #240
Maybe? Though I'm inclined to think it's more trouble than it's worth...

Correct.

The message seems to come from [this line](https://github.com/openlawlibrary/pygls/blob/master/pygls/protocol.py#L302), so my guess is either something funny is going on with the book keeping of futures, or perhaps a timing issue where the cancel request comes in just as the response has been sent?

[2022-07-05 06:33] perrinjerome commented on #240
Maybe once transport is created ( [here](https://github.com/openlawlibrary/pygls/blob/c9ce5ac5570fac21d2ae29efe7565cb51e7bb8cc/pygls/server.py#L203-L204) ) it's possible to replace `sys.stdout` by a file that would emit to logging system ? I also feel that this should be addressed with a big warning in documentation, because even if we can replace `sys.stdout`, subprocess would anyway output to "r

[2022-07-07 20:16] tombh commented on #240
Interesting idea. I'm not clear on whether replacing `sys.stdout` would break other things? If `sys.stdout` is the most primitive access to `STDOUT` then maybe even the server itself needs it to work as expected, even if it has a copy of it or something. I was thinking more along the lines of _intercepting_ it, so that obvious debugging messages could be dropped or sent to `STDERR`. In fact that g

[2022-07-09 00:56] #238 closed

[2022-07-09 01:03] #212 closed

[2022-07-12 13:25] bollwyvl opened #255 "git tag for 0.12?"
Thanks for `pygls`, and congratulations on 0.12!

It looks like git tag was not set for the final version of 0.12 (though there is an rc tag)... having this tag would be helpful to be able to verify the dependency changes, etc. for downstreams!

[2022-07-14 18:38] tombh commented on #255
Thanks @bollwyvl. That was my responsibility, I forgot to `git push --tags`. Done now: https://github.com/openlawlibrary/pygls/commits/v0.12

[2022-07-17 12:58] perrinjerome commented on #233
I submitted a pull request ( #253 ) which implements this. The API is a future that is cancelled when `window/workDoneProgress/cancel` notification is received. If you have any feedback it would be appreciated, thanks.

[2022-07-18 18:08] karthiknadig commented on #233
@perrinjerome You changes look good, thanks for working on this.

[2022-07-18 21:39] perrinjerome commented on #233
Thank you @karthiknadig

[2022-07-31 23:21] alcarney opened #261 "Could we make a new release?"
There's the pyodide fixes and #252 that I'd like to make use of :smile:

[2022-08-02 11:17] #261 closed

[2022-08-02 11:23] tombh commented on #261
Released to Pypi!

[2022-08-02 13:33] Bruntaz opened #263 "Provide alternate syntax for registering LSP feature"
Currently, the supported method of registering features in a `LangaugeServer` is through the `@server.feature()` decorator. This works well for a lot of use-cases, but the standard usage relies on instantiating a global `LanguageServer` object, therefore making it difficult to create a custom `LanguageServer` which comes with registered functionality on instantiation.

The current pattern for regi

[2022-08-02 17:26] dgreisen commented on #263
Can you provide a concrete use case for why you would want to register on the class rather than the instance?

[2022-08-03 08:23] Bruntaz commented on #263
The server I want to write requires a database to pull data from. To set this up, I want to pass a path to the database on init of the server object so that the class can always guarantee the database it is connected to is valid. Because of this, the reference to the database (and other derived things being stored on the class) should be private members so that the area of the code that instantiat

[2022-09-04 15:19] lightspot21 opened #266 "Specified Python version constraint is much more restrictive than what documentation states"
I have a Python project with semver constraint: `python = "^3.10"`.

Attempting to install `pygls` as dev dependency fails with the error:
[code]

This makes sense, but [the documentation](https://pygls.readthedocs.io/en/latest/#python-versions) says that Pythons 3.7 and later are all supported. Is there another reason the version constraint is set like this and not just `>=3.7,<4.0` or am I misun

[2022-09-13 19:01] tombh commented on #263
Apologies for the late reply. I think this sounds very reasonable. Considering there are workarounds I don't think this will be high priority, but I can certainly see how it would help clean up the code, so it is at least a priority.

I don't know the internals well enough to be sure, but I can't think of any downsides to this. Anything springs to mind?

[2022-09-13 20:04] tombh commented on #266
It _should_ be fine shouldn't it!? Is this to do with Pygls' ordering of the versions. `<3.11,>=3.7` is back to front, it would be more natural as `>=3.7,<3.11`.

Although I'm not clear where `will not be satisfied for Python >=3.11,<4.0` suddenly appears from? So your project actually requires `3.11` not `3.10`? `3.11` is still only a release candidate right? Whilst Pygls should in theory work wi

[2022-09-20 07:40] lightspot21 commented on #266
@tombh I am not entirely certain - I use Poetry for dependency resolution so it might as well be a Poetry bug, but the problem persists if `pygls` is the only package installed.

In any case, this is a minimal `pyproject.toml` that reproduces the problem:

[code]
and this is Poetry's output:
[code]

Notably, if I set `pygls = "^0.11" resolution completes, but that version of `pygls` is not compati

[2022-09-20 08:32] lightspot21 commented on #266
@tombh

Well, I did some research and found out it has to do with how Poetry (the resolver I use) resolves dependencies based on the main project's Python version. FAQ entry: https://python-poetry.org/docs/faq#why-is-poetry-telling-me-that-the-current-projects-python-requirement-is-not-compatible-with-one-or-more-packages-python-requirements

In short, the constraint `python = "^3.10"` implies any

[2022-09-22 01:34] tombh commented on #266
Thank you for the explanation, I understand now, and I'm sure we'll be able to find a solution because I think your situation isn't at all an edge case.

So what I need to understand is that Python, or indeed Semantic versioning in general, offers a guarantee that minor version updates will not break existing behaviour. Therefore, as long as Pygls retains its own behviour, we can reasonably assert

[2022-09-22 14:31] lightspot21 commented on #266
Minor version updates, according to [the SemVer spec](https://semver.org/) mean `add functionality in a backwards compatible manner`. This is not an iron-clad guarantee of course, but in general efforts are taken to not break APIs willy-nilly without major version updates - that's the point of using semver after all, to let users know that significant breakage is incoming and prevent them from aut

[2022-09-22 22:07] alcarney opened #268 "Unable to use pygls over websockets"
Trying to start a websocket based server I get the following error
[code]

[2022-09-26 20:10] tombh commented on #268
Just saw your "LSP Inspector" app! really nice 🤓

[2022-09-26 20:34] tombh commented on #266
I've submitted a PR to relax Python to <4, see #270. Does that look good?

[2022-09-26 21:52] lightspot21 commented on #266
@tombh yep, should be okay, thanks!

[2022-09-27 18:16] #266 closed

[2022-09-27 18:22] tombh commented on #266
Latest version of Pygls is public, let me know if it still doesn't fix it for you: https://pypi.org/project/pygls/0.12.2/

[2022-10-06 18:37] Et9797 opened #271 "Multi-character trigger"
I'm trying to have completions using multi-character trigger , for example `::`. However, it does not seem to work (coc.nvim).  Is there a way to accomplish this?

[2022-10-12 20:55] tombh commented on #271
I haven't setup completion before, so I may be wrong, but it seems like multi-character triggering isn't supported in [the official LSP standard](https://microsoft.github.io/language-server-protocol/specifications/lsp/3.17/specification/#completionOptions)?

But maybe it's possible to manually send a [`completionList`](https://microsoft.github.io/language-server-protocol/specifications/lsp/3.17/sp

[2022-10-12 22:18] tombh opened #272 "Include LSP spec docs next to command definitions (`TEXT_DOCUMENT_DID_OPEN` etc)"
I think it'd be nice to include snippets of the official LSP docs next to the command definitions, eg;

[code]

It's a lot of work, and they'll relatively easily go out of date. But I wonder if it's better to include them, even if they do get stale, than to have nothing at all. The URL to the specific paragraph at least has the associated LSP spec version.

It's also worth noting the docs can't re

[2022-10-15 10:01] alcarney commented on #272
I think having a summary of what's available and how to reference it in Python would be a great addition to the `pygls` docs.
I'm sure it would even be possible to add a small extension to Sphinx to automate it - assuming the snippets we want are easily accessible via the types in `lsprotocol`

[2022-10-15 13:20] tombh commented on #272
Great, thanks for the feedback. Wow, I hadn't that about how Sphinx cold automate that. Could you very briefly describe how it would do that? As in, it would be automated within the editor, like a shortcut to prepopulate from the relevant LSP text, then I would be able to edit/curate it a little before committing it?

[2022-10-15 15:59] alcarney commented on #272
I guess it depends on what workflow you want, Sphinx is flexible enough you can basically do what you like.

On the one end of the spectrum you don’t even have to touch Sphinx and write a script that spits out a bunch of rst files using the standard [python syntax](https://www.sphinx-doc.org/en/master/usage/restructuredtext/domains.html#the-python-domain) to document the LSP methods etc.

Or you c

[2022-10-16 15:13] tombh commented on #272
Ah right, you're talking about taking the comments (those which this issue is proposing to write) being copied to the website docs? Yes, that's a great idea too.

I thought you might have meant that Sphinx could somehow parse the LSP spec docs and automatically update the Pygls comments/docs from them. But I'm not even sure any tool could do that.

[2022-10-16 16:14] alcarney commented on #272
Ah, sorry I misunderstood :)

[2022-10-17 09:06] Et9797 commented on #271
I will try, thank you

[2022-10-18 11:15] nemethf opened #274 "Explicit support for serverInfo"
If an editor connects to an already started server using TCP, then it's extremely beneficial to know the server's serverInfo.  Unfortunately, not many pygls-based servers send this info.  This could be mitigated if instead of:

    server = LanguageServer()

the server could be instantiated as

    server = LanguageServer(name="my-lsp-server", version="0.1")

Since #273 talks about breaking change

[2022-10-18 18:48] dimbleby commented on #221
imo best practice is what I did in #148: set an upper bound at the point where it is reasonable to believe that breaking changes would be likely to happen.  That's the way to protect your users from unexpected breakage if and when pydantic (or whatever) does release a breaking change.

However, I acknowledge that

- this is not universally accepted as best practice, there's a significant body of o

[2022-10-18 19:27] tombh commented on #274
Good point about taking advantage of the breaking change! I added a not about it on #273 actually, to see whether anybody else has any ideas to include in the release.

So about this issue. I think it's a good idea. Can you give an example of a specific case where this would make a difference? Is there anywhere in the LSP spec itself that mentions requiring these, or at least suggesting how import

[2022-10-18 20:20] tombh commented on #221
Thanks for the reply @dimbleby

So it looks like we're going to be completely removing Pydantic in the upcoming #273 release. So I'm not sure how relevant this issue is now?

But there's 2 separate themes I'm still curious about.

1. From what you've said I get the impression that neither vendoring nor isolating dependencies (a la Nix) is a standard practice in the Python ecosystem? It may not eve

[2022-10-18 20:39] dimbleby commented on #221
pydantic is just an example of the general question: this project has other dependencies and will continue to have to decide whether or not to put upper bounds on those dependencies.  There are pros and cons, which I tried to set out fairly above.

vendoring is typically an exceptional-circumstances-only choice in the python world.

[2022-10-18 20:59] nemethf commented on #274
The [specification doesn't require these](https://microsoft.github.io/language-server-protocol/specifications/lsp/3.17/specification/#initializeResult) because of backward compatibility.  But I think it's OK for pygls to be a bit more restrictive than the specification in this case.

I read several issues reported to a client where the reporters were not sure about their systems, for example, they

[2022-10-18 21:55] tombh commented on #274
I agree. I think Pygls has an interesting role to play. I don't think its responsibility is merely to act as a 100% faithful reflection of the LSP spec. LSP already is the single source of canonical truth. Pygls therefore can take more of a role in demonstrating sane real world usage. An "ambassador" for LSP.

I don't completely understand those points, but nevertheless they make me think of 2 ver

[2022-10-19 18:42] segevfiner opened #275 "Support pydantic 1.10 (Probably best to support 1.9+)"
Otherwise having pygls installed prevents using newer pydantic versions due to how Python handles dependencies.

[2022-10-20 00:48] tombh commented on #275
We'll be completely removing Pydantic in the upcoming v1 release #273

[2022-10-23 16:35] tombh opened #277 "Improve handling of unexpected errors"
This jumps off from an issue identified by @alcarney in the v1 breaking changes PR https://github.com/openlawlibrary/pygls/pull/273#issuecomment-1288146841

Pygls does already catch some errors, but not all. Nor does it offer a way for server authors to handle those unexpected errors.

@alcarney Is that a fair summarisation of the problem? Obviously the underlying message parsing problem needs to

[2022-10-23 17:04] alcarney commented on #277
To be explicit about the error I'm facing, [here](https://github.com/openlawlibrary/pygls/blob/v1-lsprotocol-breaking-alpha/pygls/protocol.py#L473-L475) is where `pygls` parses incoming messages and any exceptions thrown by `_deserialize_message` are currently unhandled taking the server down with it.

Now, I could be mistaken, but I don't think there's much handling we can do here by default othe

[2022-10-23 17:35] alcarney opened #278 "Fix construction of `workspace.fileOperations` fields in server capabilities"
The server capabilities for each of the the didXXXfiles and willXXXFiles notifications are currently constructed as follows
[code]
which results in `did_delete` taking the value of `True` or `None`.

Instead it should be an instance of [`FileOperationRegistrationOptions`](https://microsoft.github.io/language-server-protocol/specifications/lsp/3.17/specification/#fileOperationRegistrationOptions) w

[2022-10-23 17:55] tombh commented on #277
So what we're saying is that `JsonRPCProtocol` is the deepest part of Pygls where server lifecycle errors can be caught? And that it already has a try/catch block, but that it could be "deeper"? Yeah, catching and dropping errors is the most that can be expected, sending them on to the client is just a bonus. Basically, I think it's clear that Pygls should be able to survive a broader range of err

[2022-10-23 18:30] alcarney commented on #277
Yes, everything winds up coming through this class at some point. If you're interested, messages come into `data_received` and responses eventually find their way into `_send_data`.

Not deeper... but we need another one to catch some errors in `data_received` that happen right at the start of the lifecycle

:facepalm: you're right! My head is so deep in JSON-RPC land at the moment I forget about

[2022-10-23 18:33] alcarney commented on #277
Yes, everything winds up coming through this class at some point. If you're interested, messages come into `data_received` and responses eventually find their way into `_send_data`.

Not deeper... but we need another one to catch some errors in `data_received` that happen right at the start of the lifecycle

:facepalm: you're right! My head is so deep in JSON-RPC land at the moment I forget about

[2022-10-23 19:58] tombh commented on #263
I've just come across another downside to the current approach, namely that it doesn't take advantage of the ability to assert the RPC expectations with types. I'm not a Python aficionado, so I'm wondering about an approach like this:
[code]

I don't think there's a way to enforce those types when they're overridden? At the very least, it would mean you could just copy and paste the method bodies

[2022-10-23 20:31] tombh commented on #277
Ok great, thanks for the insights 🤓 So just to sketch things out:

* `data_received`, like `_send_data`, should have a try/catch block.
* Both should have an easily configurable (a feature-like decorator or something) shared custom function in their `except:` blocks.
* By default that shared function should send a `showMessage.type = MessageType.Error` message to the client.

Not saying you should

[2022-10-23 21:19] alcarney commented on #263
One advantage of the current decorator approach, is that it provides a place to provide additional options when registering methods. For example, specifying trigger characters for completion
[code]
The given `CompletionOptions` object is then passed through to the [`ServerCapabilitiesServer`](https://github.com/openlawlibrary/pygls/blob/master/pygls/capabilities.py#L43) and used to populate the re

[2022-10-23 22:26] tombh commented on #277
Oh, wait! Hold the press! I've figured something out: errors in LSP _requests_ and _notifications_ are handled differently.

So, the actual formal way to handle a LSP client request is with a LSP `ResponseError` in `ResponseMessage.error`. Which we do already do in `JsonRPCProtocol._handle_request()` ✅

Now, here's the thing. LSP requests and notifications are 2 distinct things. You probably alrea

[2022-10-23 22:42] tombh commented on #263
Good points. I'd completely overlooked them.

I wonder if a default keyword arg would work for those extra completion options? It could be inspected with `inspect.signature.parameters()`. That gives us the stronger typing and maintains a single place for definition, but makes it weird that there's a param that isn't used during actual requests and notifications.

Good to be thinking about it all t

[2022-10-24 12:44] karthiknadig commented on #234
@tombh @alcarney Can this issue be prioritized, this is currently impacting about 8 different servers? We might need a temporary solution until pygls 1.0.0 can hit final release.

[2022-10-24 12:55] tombh commented on #234
I have time today, I'll look into it and either fix it or find a temporary workaround.

BTW, what are those servers?

[2022-10-24 13:15] karthiknadig commented on #234
Following are from Microsoft:
- https://github.com/microsoft/vscode-isort
- https://github.com/microsoft/vscode-black-formatter
- https://github.com/microsoft/vscode-pylint
- https://github.com/microsoft/vscode-autopep8
- https://github.com/microsoft/vscode-flake8
- https://github.com/microsoft/vscode-python-tools-extension-template (uses pygls as foundation to create extensions for vscode for too

[2022-10-24 14:31] tombh commented on #234
Quick question, it seems like the fix is to set `pydantic>=1.10.2` in order to include their https://github.com/pydantic/pydantic/pull/4012 PR. It seems easy, so I'm wondering if this wasn't suggested before because upgrading Pydantic would break other project's dependencies?

BTW thanks for the list, could we add them to https://github.com/openlawlibrary/pygls/blob/master/Implementations.md ?

[2022-10-24 17:38] karthiknadig commented on #234
Looking at other issues, it seems like potential breaking changes in `pydantic` were the reason.

[2022-10-24 17:50] tombh commented on #234
So how about if Pygls set its dependency to `pydantic>=1.19.1,<=1.10.2`? I'm not familiar enough with Python to know if that's helpful? The idea being that most users will remain unaffected, but that if somebody really needs to use Python 3.11 then they'll need to explicitly install Pydantic `1.10.2`.

[2022-10-24 18:03] brettcannon commented on #234
You can also do `pydantic!=1.9.2,!=1.10.1` .

[2022-10-24 19:02] #226 closed

[2022-10-24 19:58] tombh commented on #234
Made PR at https://github.com/openlawlibrary/pygls/pull/279 If it all looks good I can publish today.

[2022-10-24 20:44] karthiknadig commented on #234
#279 looks good

[2022-10-24 21:19] #234 closed

[2022-10-24 21:26] tombh commented on #234
Released https://pypi.org/project/pygls/0.12.3 🚀

[2022-10-24 21:58] karthiknadig commented on #234
@tombh I have a PR to loosen the upper bound on python <3.11 for pydantic, https://github.com/openlawlibrary/pygls/pull/280 . The upper bound on py<3.11 means that there is no pydantic version that woks for all 3.7-3.11.

[2022-10-24 23:27] brettcannon commented on #234
FYI Python 3.11.0 is now out: https://www.python.org/downloads/release/python-3110/ .

[2022-10-25 19:25] karthiknadig commented on #275
https://github.com/openlawlibrary/pygls/pull/280 should address this issue.

[2022-10-25 19:41] tombh opened #281 "Reference VSCode extension for Pygls servers and suggest starting points for other editors"
Microsoft maintains a VSCode extension template: https://github.com/microsoft/vscode-python-tools-extension-template I think it should be made prominent in our README and docs as the recommended way for Pygls servers to support VSCode.

We should also provide recommended configs for other editors. Esbonio has good examples: https://swyddfa.github.io/esbonio/docs/latest/en/lsp/getting-started.html

[2022-10-25 20:37] tombh commented on #263
Just want to make a note about something else that has been frequently popping into my mind regarding how we register features.

No matter which approach we end up going with, I think it would be helpful to explicitly express whether a feature is a notification or a request. So for example:

[code]

Requests and notifications (and maybe commands is a 3rd type?) have slightly different behaviours a

[2022-10-27 21:03] #275 closed

[2022-10-29 22:55] #274 closed

[2022-10-31 19:33] #277 closed

[2022-11-01 21:20] tombh opened #283 "Debounce and caching"
Just wondering out loud whether debouncing and caching is something that Pygls could support?

The classic example is completion requests, they're potentially sent on every keystroke, which, depending on the implementation could be quite expensive, even before considering a separate `completionItem/resolve` step. One solution is to debounce the requests, say for a few 100ms, but that still require

[2022-11-04 19:52] alcarney opened #285 "Pygls is corrupting custom messages."
**This is an issue for the unreleased 1.0 branch** (see #273)

`esbonio` sends a custom notification to the client after each completed Sphinx build. The notification `params` field is a custom object with fields that the client might find useful
[code]
However while trying the v1.0 branch that same notification comes through in the following format.

[code]
I found the culprit and it's due to the

[2022-11-04 20:02] karthiknadig commented on #285
I think you can do this by using a hook for `JsonRPCNotification` registered via `cattrs` than using a converter is `attrs.field`. See, `_hooks.py` in `lsprotocol` for examples.

[2022-11-04 20:03] alcarney opened #286 "Provide a mechanism to set a custom converter"
**This is an issue for the unreleased 1.0 branch** (see #273)

pygls' is essentially hardcoded to use the converter as provided by `lsprotocol` since it uses one defined in the [module's scope](https://github.com/openlawlibrary/pygls/blob/7c06b314d374e1d1f56c5c80c3fd08d289980196/pygls/protocol.py#L72). If a server defines its own types, chances are it will want to provide a customized converter wi

[2022-11-07 21:26] tombh commented on #285
I don't full understand the details of this issue. But either way it sounds like we need to make a change in Pygls before merging v1? The question is whether it can be done without a breaking change or not?

[2022-11-07 21:31] tombh commented on #286
Is this your solution to #285?

Would the `converter_factory` need to inherit from `lsprotocol.converters.get_converter()`?

[2022-11-07 22:49] alcarney commented on #286
No, #285 is about fixing pygls’ fallback type definitions so it can still function when it encounters unknown message types.

This one is more about teaching pygls to recognise custom messages by passing it a converter that knows how to handle them.

Not in the sense of subclassing, but you would need to make sure your custom factory bases itself on the result of the one provided by `lsprotocol` e

[2022-11-08 15:30] tombh commented on #286
Ahh right. So there's 3 things:
1. The formal LSP protocol itself
2. Explicitly defined custom additions to the formal protocol (this issue)
3. The formatting of anything that isn't covered by 1 and 2 (#285)

[2022-11-09 19:55] #285 closed

[2022-11-09 19:55] #286 closed

[2022-11-16 00:27] #278 closed

[2022-11-16 00:27] #268 closed

[2022-11-22 11:30] tombh commented on #281
@karthiknadig, @omnilib, @brettcannon: any thoughts on this?

[2022-11-22 21:33] brettcannon commented on #281
It's totally fine by us!

[2022-11-22 21:35] brettcannon commented on #281
You can also add https://github.com/microsoft/vscode-isort/ to that list.

[2022-11-23 11:51] tombh commented on #281
Great, thanks!

[2022-11-23 19:21] charliermarsh commented on #281
Of course, happy to be included!

[2022-11-24 15:43] tombh commented on #281
Thanks @charliermarsh!

[2022-11-29 03:34] dotlambda opened #292 "Tags v0.12.4 and v0.13.0 missing on GitHub"

[2022-11-29 14:21] tombh commented on #292
Thanks. Just pushed them now, can you see them?

[2022-11-29 15:28] dotlambda commented on #292
Yes. Thank you!

[2022-11-29 15:28] #292 closed